<ion-header>
  <ion-toolbar color="primary">
    <ion-button float-right icon-only (click)="cancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{"Reference Details" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding color="secondary">
  <ion-list inset class="text-align-center">
    <form (ngSubmit)="saveReference()" [formGroup]="defineReferenceForm">
      <ion-item no-lines>
        <ion-input type="text" [(ngModel)]="reference.content" formControlName="content"></ion-input>
      </ion-item>
      <ion-button class="darkbutton" type="submit">{{"Save" | translate }}</ion-button>
      <ion-button class="button-left darkbutton" type="button" (click)="deleteReference(reference)">{{"Delete" | translate }}</ion-button>
    </form>
  </ion-list>
</ion-content>
