<ion-content class="width-100">
  <ion-row class="margin-top-35 color-39297F">
    <ion-col size="3">
      <button class="transparent color-6049C4 font-size-17px" (click)="cancel()">
        {{"Cancel" | translate}}
      </button>
    </ion-col>
    <ion-col size="6" class="text-align-center font-size-17px">
      {{"Add Thought" | translate}}
    </ion-col>
    <ion-col size="3" class="text-align-right">
      <button class="transparent color-6049C4 font-size-17px" (click)="save()" color="tertiary">
        {{"Save" | translate}}
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="margin-bottom-10">
    <div class="width-90 border-6049C4-50per border-radius-15px margin-top-10-auto flex">
      <ion-input [(ngModel)]="thought.content" placeholder="{{'Thought' | translate}}" type="text" class="display-inline-block width-100-minus-26 margin-left-5 text-align-left color-22194D"></ion-input>
    </div>
  </ion-row>
  </ion-content>