<ion-content class="width-100">
  <div class="margin-bottom-20">
    <ion-row class="margin-top-35 color-39297F">
      <ion-col size="4">
        <button *ngIf="type != 'show'" class="transparent color-6049C4 font-size-17px" (click)="cancel()">
          {{"Cancel" | translate}}
        </button>
        <button *ngIf="type == 'show'" class="transparent color-6049C4 font-size-17px" (click)="cancel()">
          {{"Close" | translate}}
        </button>
      </ion-col>
      <ion-col size="4" class="text-align-center font-size-17px font-weight-bold">
        {{"Thought" | translate}}
      </ion-col>
      <ion-col size="4">
        <button *ngIf="(type == 'show' && changed && !goalid) || type != 'show'" class="transparent color-6049C4 font-size-17px" (click)="save()" color="tertiary">
          {{"Save" | translate}}
        </button>
        <button *ngIf="type == 'show' && changed && goalid" class="transparent color-6049C4 font-size-17px margin-vertical-auto" (click)="save()" color="tertiary">
          {{"Assign" | translate}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="width-90 border-6049C4-50per border-radius-15px margin-top-10-auto flex">
        <ion-input (ionInput)="change()" [(ngModel)]="thought.content" placeholder="{{'Thought' | translate}}" type="text" class="display-inline-block width-100-minus-26 margin-left-5 text-align-left color-22194D"></ion-input>
      </div>
    </ion-row>
    <ion-row>
      <ion-row class="margin-horizontal-auto">
        <span class="margin-top-20-auto flex background-EDF2FF border-radius-10px padding-right-5 height-36px">
          <img src="../../assets/icon/purple/icon_project.svg" height="12" class="margin-left-5-auto">
          <span *ngIf="!assigned && goalid" (click)="openPicker('project')" class="color-6049C4 margin-vertical-auto margin-left-5">
            {{goalDict[goalid].name}}
          </span>
          <span *ngIf="assigned" (click)="openPicker('project')" class="color-6049C4 margin-vertical-auto margin-left-5">
            {{goalDict[goalid].name}}
          </span>
          <span *ngIf="!goalid" (click)="openPicker('project')" class="color-6049C4 margin-vertical-auto margin-left-5">{{"Project" | translate}}</span>
        </span>
        <span class="margin-top-20-auto flex height-36px" (click)="addProject()">
          <img src="../../assets/icon/purple/icon_add.svg" height="20" class="margin-vertical-auto margin-left-10">
        </span>
      </ion-row>
    </ion-row>
    <ion-row *ngIf="type == 'show'">
      <div class="margin-top-20-auto flex border-radius-10px padding-right-5 height-36px">
        <button class="font-size-20px transparent font-red border-1px-red border-radius-20px" (click)="deleteThought()">{{"Delete" | translate}}</button>
      </div>
    </ion-row>
    <ion-row *ngIf="type == 'show' && !goalid">
      <div class="margin-top-20-auto flex border-radius-10px padding-right-5 height-36px">
        <button class="font-size-20px height-36px border-radius-20px background-6049C4 color-FFFFFF margin-left-20" (click)="createToDo()">{{"Create To-do" | translate}}</button>
      </div>
    </ion-row>
  </div>
  </ion-content>