<ion-content class="width-100">
  <ion-row class="margin-top-35 color-39297F">
    <ion-col size="3">
      <button class="transparent color-6049C4 font-size-17px" (click)="cancel()">
        {{"Cancel" | translate}}
      </button>
    </ion-col>
    <ion-col *ngIf="type != 'show'" size="6" class="text-align-center font-size-17px">
      {{"Add Calendar Event" | translate}}
    </ion-col>
    <ion-col *ngIf="type == 'show'" size="6" class="text-align-center font-size-17px">
      {{"Calendar Event" | translate}}
    </ion-col>
    <ion-col size="3" class="text-align-right">
      <button *ngIf="type != 'show' || (type == 'show' && changed && !calendarEvent.native)" class="transparent color-6049C4 font-size-17px" (click)="save()" color="tertiary">
        {{"Save" | translate}}
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="margin-bottom-10">
    <div class="width-90 border-6049C4-50per border-radius-15px margin-top-10-auto flex">
      <ion-input (ionInput)="change()" [(ngModel)]="calendarEvent.title" placeholder="{{'Calendar event' | translate}}" type="text" class="display-inline-block width-100-minus-26 margin-left-5 text-align-left color-22194D"></ion-input>
    </div>
  </ion-row>
  <ion-row *ngIf="!calendarEvent.allDay">
    <div class="margin-top-20-auto flex background-EDF2FF border-radius-10px padding-right-5">
      <ion-datetime (ionChange)="change()" max="2100" class="color-6049C4" [(ngModel)]="calendarEvent.startTime" displayFormat="DDDD, DD.MMM.YYYY HH:mm" pickerFormat="DDDD MMM YYYY HH:mm" placeholder="Select Date"></ion-datetime>
    </div>
  </ion-row>
  <ion-row *ngIf="!calendarEvent.allDay">
    <div class="margin-top-20-auto flex background-EDF2FF border-radius-10px padding-right-5">
      <ion-datetime (ionChange)="change()" max="2100" class="color-6049C4" [(ngModel)]="calendarEvent.endTime" displayFormat="DDDD, DD.MMM.YYYY HH:mm" pickerFormat="DDDD MMM YYYY HH:mm" placeholder="Select Date"></ion-datetime>
    </div>
  </ion-row>
  <ion-row *ngIf="calendarEvent.allDay">
    <button class="font-size-16px transparent no-padding text-align-left display-inline-block color-6049C4 margin-left-5" (click)="assignDeadline()">{{deadlineText}}
    </button>
  </ion-row>
  <ion-row>
    <div class="margin-top-20-auto flex background-EDF2FF border-radius-10px height-36px padding-left-5 padding-right-5">
      <span class="margin-vertical-center color-6049C4">{{"All Day Event" | translate}}</span>
      <ion-toggle color="tertiary" [(ngModel)]="calendarEvent.allDay" (ionChange)="change()" class="margin-vertical-auto margin-left-10"></ion-toggle>
    </div>
  </ion-row>
  <ion-row *ngIf="type != 'show'" class="margin-bottom-10">
    <div class="margin-top-20-auto flex background-EDF2FF border-radius-10px height-36px padding-left-5 padding-right-5">
      <img src="../../assets/icon/purple/icon_project.svg" height="14" class="margin-left-5-auto">
      <span class="color-6049C4 margin-vertical-auto margin-left-5" *ngIf="calendarEvent.goalid && calendarEvent.goalid != 'unassigned'" (click)="openPicker('project')">
        {{goalDict[calendarEvent.goalid].name}}
      </span>
      <span class="color-6049C4 margin-vertical-auto margin-left-5" *ngIf="!calendarEvent.goalid || calendarEvent.goalid == 'unassigned'" (click)="openPicker('project')">{{"Project" | translate}}</span>
    </div>
  </ion-row>
  <ion-row *ngIf="type == 'show'">
    <div class="margin-top-20-auto flex background-EDF2FF border-radius-10px height-36px padding-left-5 padding-right-5">
      <img src="../../assets/icon/purple/icon_project.svg" height="14" class="margin-left-5-auto">
      <span class="color-6049C4 margin-vertical-auto margin-left-5" *ngIf="calendarEvent.goalid && calendarEvent.goalid != 'unassigned'" (click)="openPicker('project')">
        {{goalDict[calendarEvent.goalid].name}}
      </span>
      <span class="color-6049C4 margin-vertical-auto margin-left-5" *ngIf="!calendarEvent.goalid || calendarEvent.goalid == 'unassigned'" (click)="openPicker('project')">{{"Project" | translate}}</span>
    </div>
  </ion-row>
  <ion-row *ngIf="type == 'show'" class="margin-bottom-10">
    <div class="margin-top-20-auto flex border-radius-10px padding-right-5 height-36px">
      <button class="font-size-20px transparent font-red border-1px-red border-radius-20px" (click)="delete()">{{"Delete" | translate}}</button>
    </div>
  </ion-row>
  </ion-content>
