<ion-header>
  <ion-toolbar color="secondary no-padding">
    <button float-right class="icon-only-button margin-right-20" (click)="cancel()">
      <img src="../../assets/icon/icon_cancel.png" height="20">
    </button>
    <ion-title>{{"Create Event" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="background-gray">
  <ion-list class="text-align-center transparent">
    <ion-item class="transparent">
      <ion-input type="text" class="transparent font-white border-bottom-1" (ionFocus)="ionFocus($event)" autocapitalize="on" placeholder="{{'Input event title' | translate}}..." [(ngModel)]="event.title"></ion-input>
    </ion-item>

    <ion-row *ngIf="gotGoals" class="transparent font-white">
      <ion-col size="3" class="margin-auto text-align-left">
        <ion-label class="font-white">{{"Project" | translate}}</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-select [(ngModel)]="goalid" class="no-hover font-white width-90">
          <ion-select-option class="font-white" *ngFor="let goal of goalArray" value="{{goal.key}}" [selected]="goal.key == goalid">{{goal.name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
 
    <ion-row *ngIf="!deadline" class="transparent font-white">
      <ion-col size="3" class="margin-auto text-align-left">
        <ion-label>{{"Start" | translate }}</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-datetime displayFormat="DDD DD.MMM YYYY - HH:mm" dayShortNames="[{{'Sun' | translate}}, {{'Mon' | translate}}, {{'Tue' | translate}}, {{'Wed' | translate}}, {{'Thu' | translate}}, {{'Fri' | translate}}, {{'Sat' | translate}}]" pickerFormat="DD MMM YYYY - HH:mm" max="2100" [(ngModel)]="eventStartTimeISOString" [doneText]="translate.instant('Done')" (ionChange)="adaptEndDate()" [cancelText]="translate.instant('Cancel')"></ion-datetime>
      </ion-col>
    </ion-row>
 
    <ion-row *ngIf="!deadline" class="transparent font-white">
      <ion-col size="3" class="margin-auto text-align-left">
        <ion-label>{{"End" | translate }}</ion-label>
      </ion-col>
      <ion-col size="9">
        <ion-datetime displayFormat="DDD DD.MMM YYYY - HH:mm" dayShortNames="[{{'Sun' | translate}}, {{'Mon' | translate}}, {{'Tue' | translate}}, {{'Wed' | translate}}, {{'Thu' | translate}}, {{'Fri' | translate}}, {{'Sat' | translate}}]" pickerFormat="DD MMM YYYY - HH:mm" max="2100" [(ngModel)]="eventEndTimeISOString" [doneText]="translate.instant('Done')" [cancelText]="translate.instant('Cancel')"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="deadline" class="transparent font-white">
      <button class="transparent font-white" type="button" (click)="assignDeadline()">{{"Deadline" | translate}}: {{deadlineString}}</button>
    </ion-row>
    <ion-row *ngIf="errorMsg" class="transparent font-white">
      {{"The end time cannot be earlier than the start time." | translate}}
    </ion-row>
    <ion-row>
      <button class="transparent font-white margin-auto" (click)="check()">
        <img src="../../assets/icon/icon_confirm.png" height="30" class="margin-bottom-3">
      </button>
    </ion-row>
  </ion-list>
 
</ion-content>

