<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"Create Event" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list class="text-align-center">
    <ion-item>
      <ion-input type="text" placeholder="{{'Input event title' | translate }}" [(ngModel)]="event.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{"Project" | translate}}</ion-label>
      <ion-select [(ngModel)]="goalid">
        <ion-select-option *ngFor="let goal of goalList | async" value="{{goal.key}}">{{goal.name}}</ion-select-option>
      </ion-select>
    </ion-item>
 
    <ion-item>
      <ion-label>{{"Start" | translate }}</ion-label>
      <ion-datetime displayFormat="DDD DD.MMM YYYY - HH:mm" dayShortNames="[{{'Sun' | translate}}, {{'Mon' | translate}}, {{'Tue' | translate}}, {{'Wed' | translate}}, {{'Thu' | translate}}, {{'Fri' | translate}}, {{'Sat' | translate}}]" pickerFormat="DD MMM YYYY - HH:mm" max="2100" [(ngModel)]="eventStartTimeISOString" [doneText]="translate.instant('Done')" [cancelText]="translate.instant('Cancel')"></ion-datetime>
    </ion-item>
 
    <ion-item>
      <ion-label>{{"End" | translate }}</ion-label>
      <ion-datetime displayFormat="DDD DD.MMM YYYY - HH:mm" dayShortNames="[{{'Sun' | translate}}, {{'Mon' | translate}}, {{'Tue' | translate}}, {{'Wed' | translate}}, {{'Thu' | translate}}, {{'Fri' | translate}}, {{'Sat' | translate}}]" pickerFormat="DD MMM YYYY - HH:mm" max="2100" [(ngModel)]="eventEndTimeISOString" [doneText]="translate.instant('Done')" [cancelText]="translate.instant('Cancel')"></ion-datetime>
    </ion-item>
    <button class="darkbutton margin-auto" ion-button round icon-left (click)="save()">
    {{"Add Event" | translate }}
  </button>
  </ion-list>
 
</ion-content>

