<ion-header>
  <ion-toolbar color="primary">
  	<ion-button float-right icon-only (click)="cancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{"Defining new delegation" | translate }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
        <ion-list inset class="text-align-center">
          <ion-item no-lines>
            <ion-label>{{"Deadline required?" | translate }}</ion-label>
            <ion-checkbox [(ngModel)]="deadline"></ion-checkbox>
          </ion-item>
          <div *ngIf="deadline">
			<ion-item no-lines>
				<ionic-calendar-date-picker [monthLabels]="monthLabels" [dayLabels]="dayLabels" (onSelect)="deadlineSelected($event)"></ionic-calendar-date-picker> 
			</ion-item>
			</div>
          <form (ngSubmit)="check()" [formGroup]="defineDelegationForm">
            <ion-item no-lines>
              <ion-input type="text" formControlName="content"></ion-input>
            </ion-item>
            <ion-button class="darkbutton" type="submit">{{"Define delegation" | translate }}</ion-button>
          </form>
        </ion-list>
</ion-content>