<ion-header>
  <ion-toolbar color="secondary">
  	<div>
        <button class="transparent" (click)="cancel()">
          <img src="../../assets/icon/icon_arrow_left.png" height="30" class="margin-left-10">
        </button>
    </div>
    <ion-row class="font-white display-block text-align-center font-size-30px">
      <span class="border-bottom-1 display-inline-block width-70">
      {{"Filter" | translate}}
      </span>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="background-gray">
	<ion-grid *ngIf="view == 'projects'" class="width-100 height-100-minus-70px overflow-scroll">
		<ion-row>
			<button class="button-design font-size-20px" (click)="changeView('attributes')">
				{{"Attributes" | translate}}
			</button>
		</ion-row>
		<ion-row class="font-white margin-left-30 margin-bottom-10 margin-top-45">
			<ion-col>
				<button class="button-design font-size-20px" (click)="selectAll('projects')">
					{{"Select all" | translate}}
				</button>
			</ion-col>
			<ion-col class="font-white margin-left-30 margin-bottom-10">
				<button class="button-design font-size-20px" (click)="clearAll('projects')">
					{{"Clear all" | translate}}
				</button>
			</ion-col>
		</ion-row>
		<ion-row class="font-white margin-left-30 margin-bottom-10">
			<button class="transparent font-white width-100 text-align-left" (click)="chooseGoal('unassigned')">
				<span *ngIf="chosenGoalArray.indexOf('unassigned') != -1" class="font-size-20px">{{"Unassigned todos" | translate}}</span>
				<span *ngIf="chosenGoalArray.indexOf('unassigned') == -1" class="font-gray font-size-20px">{{"Unassigned todos" | translate}}</span>
			</button>
		</ion-row>
		<ion-row class="font-white margin-left-30 margin-bottom-10" *ngFor="let goal of goalArray">
			<button class="transparent font-white width-100 text-align-left" (click)="chooseGoal(goal.key)">
				<span *ngIf="chosenGoalArray.indexOf(goal.key) != -1" class="font-size-20px">{{goal.name}}</span>
				<span *ngIf="chosenGoalArray.indexOf(goal.key) == -1" class="font-gray font-size-20px">{{goal.name}}</span>
			</button>
		</ion-row>
	</ion-grid>
	<ion-grid *ngIf="view == 'attributes'" class="width-100 height-100-minus-70px overflow-scroll">
		<ion-row>
			<button class="button-design font-size-20px" (click)="changeView('projects')">
				{{"Projects" | translate}}
			</button>
		</ion-row>
		<ion-row class="font-white margin-left-30 margin-bottom-10 margin-top-45">
			<ion-col>
				<button class="button-design font-size-20px" (click)="selectAll('attributes')">
					{{"Select all" | translate}}
				</button>
			</ion-col>
			<ion-col class="font-white margin-left-30 margin-bottom-10">
				<button class="button-design font-size-20px" (click)="clearAll('attributes')">
					{{"Clear all" | translate}}
				</button>
			</ion-col>
		</ion-row>
		<ion-row class="font-white margin-left-30 margin-bottom-10" *ngFor="let attribute of attributeArray">
			<button class="transparent font-white width-100 text-align-left" (click)="chooseAttribute(attribute.content)">
				<span *ngIf="chosenAttributeArray.indexOf(attribute.content) != -1" class="font-size-20px">{{attribute.content}}</span>
				<span *ngIf="chosenAttributeArray.indexOf(attribute.content) == -1" class="font-gray font-size-20px">{{attribute.content}}</span>
			</button>
		</ion-row>
	</ion-grid>
	<ion-row class="height-70px">
    	<button class="button-design margin-auto font-size-20px" (click)="filter()">
      		{{"Apply filter" | translate}}
    	</button>
  	</ion-row>

</ion-content>
