<ion-header>
  <ion-toolbar color="secondary">
    <ion-row class="font-white display-block text-align-center font-size-30px">
      <span class="border-bottom-1 display-inline-block width-70">
      {{"Filter" | translate}}
      </span>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="background-gray">
	<ion-row class="font-white margin-left-30 margin-bottom-10 margin-top-45">
		<ion-col>
			<button class="button-design font-size-20px" (click)="selectAll()">
				{{"Select all" | translate}}
			</button>
		</ion-col>
		<ion-col class="font-white margin-left-30 margin-bottom-10">
			<button class="button-design font-size-20px" (click)="clearAll()">
				{{"Clear all" | translate}}
			</button>
		</ion-col>
	</ion-row>
	<ion-row class="font-white margin-left-30 margin-bottom-10" *ngFor="let goal of goalArray">
		<button class="transparent font-white width-100 text-align-left" (click)="chooseGoal(goal)">
			<span *ngIf="chosenGoalArray.indexOf(goal.key) != -1" class="font-size-20px">{{goal.name}}</span>
			<span *ngIf="chosenGoalArray.indexOf(goal.key) == -1" class="font-gray font-size-20px">{{goal.name}}</span>
		</button>
	</ion-row>
	<ion-row class="margin-top-45 margin-bottom-45">
    	<button class="transparent font-gray margin-auto width-100" (click)="filter()">
      		<img src="../../assets/icon/icon_confirm.png" height="50" class="margin-auto">
    	</button>
  	</ion-row>

</ion-content>
