<ion-header>
  <ion-toolbar color="primary">
    <ion-button float-right icon-only (click)="cancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{"Goal Details" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list inset class="text-align-center">
    <form (ngSubmit)="saveGoal()" [formGroup]="editGoalForm">
      <ion-item no-lines>
        <ion-input type="text" [(ngModel)]="goal.name" formControlName="name"></ion-input>
      </ion-item>
      <ion-button class="darkbutton" type="submit">{{"Save" | translate }}</ion-button>
    </form>
  </ion-list>
</ion-content>
