<ion-header>
  <ion-toolbar color="secondary">
    <button float-right class="icon-only-button margin-right-20" (click)="cancel()">
      <img src="../../assets/icon/icon_cancel.png" height="20">
    </button>
    <ion-title class="font-white">{{"Goal Details" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background-gray">
  <ion-list inset class="text-align-center transparent">
    <form (ngSubmit)="saveGoal()" [formGroup]="editGoalForm">
      <ion-item class="transparent">
        <ion-input class="border-bottom-1" type="text" [(ngModel)]="goal.name" formControlName="name" class="font-white"></ion-input>
      </ion-item>
      <button class="button-design" type="submit">{{"Save" | translate }}</button>
    </form>
  </ion-list>
</ion-content>
