<ion-header>
  <ion-toolbar color="primary">
  	<ion-button float-right icon-only (click)="cancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{"Defining new reference" | translate }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding color="secondary">
	<ion-list inset class="text-align-center">
		<ion-item *ngIf="goalname">
	      <h2>{{"Goal" | translate}}: {{goalname}}</h2>
	    </ion-item>
		<form (ngSubmit)="addReference()" [formGroup]="defineReferenceForm">
			<ion-item no-lines>
				<ion-input type="text" formControlName="content"></ion-input>
			</ion-item>
			<ion-button class="darkbutton" type="submit">{{"Define reference" | translate }}</ion-button>
		</form>
	</ion-list>
</ion-content>
