<ion-content class="transparent">
    <ion-row class="height-200px width-100 font-size-12px">
      <ion-col (click)="addProject()">
        <ion-grid class="margin-top-104">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_project.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto">{{"Project" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col (click)="addToDo()">
        <ion-grid class="margin-top-33">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_todo.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto">{{"To-Do" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col (click)="addThought()">
        <ion-grid class="margin-top-33">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_thought.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto">{{"Thought" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col (click)="addCalendarEvent()">
        <ion-grid class="margin-top-104">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_event.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto">{{"Event" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
</ion-content>
