<ion-content class="transparent">
  <span *ngIf="tutorial">
    <ion-row class="margin-top-20 width-95 margin-horizontal-auto">
      <img src="../../assets/icon/purple/robot_circle.svg" height="80">
      <span class="margin-left-15 width-100-minus-100px background-EDF2FF border-radius-15px color-39297F padding-20 margin-bottom-20 max-height-250px overflow-scroll no-scrollbar">{{number}} {{text |translate}}</span>
    </ion-row>
    <ion-row class="height-98px background-EDF2FF margin-top-20">
      <span class="margin-auto">
        <button class="font-size-20px height-36px border-radius-20px background-6049C4 color-FFFFFF margin-left-20" (click)="tutorialNext()">{{"Next" | translate}}</button>
      </span>
    </ion-row>
  </span>
  <div class="background-EDF2FF">
    <ion-row class="height-200px background-FFFFFF width-100 font-size-12px border-radius-50per-50per-40-40">
      <ion-col (click)="addProject()">
        <ion-grid class="margin-top-104">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_project.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto color-39297F">{{"Project" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col (click)="addToDo()">
        <ion-grid class="margin-top-33">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_todo.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto color-39297F">{{"To-Do" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col (click)="addThought()">
        <ion-grid class="margin-top-33">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_thought.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto color-39297F">{{"Thought" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col (click)="addCalendarEvent()">
        <ion-grid class="margin-top-104">
          <ion-row class="background-6049C4 border-radius-30px height-60px width-60px margin-horizontal-auto">
            <img src="../../assets/icon/purple/icon_add_event.svg" height="24" class="margin-auto">
          </ion-row>
          <ion-row>
            <span class="margin-auto color-39297F">{{"Event" | translate}}</span>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
