<ion-header>
  <ion-toolbar color="secondary width-100">
    <ion-title class="no-padding text-align-center">{{"Assign Project" | translate}}</ion-title>
    <div>
      <button class="transparent" (click)="cancel()">
        <img src="../../assets/icon/icon_arrow_left.png" height="30" class="margin-left-10">
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background-gray">
  <ion-grid class="heigth-100 width-100">
  	<ion-row class="text-align-right width-90 margin-bottom-10" *ngIf="!addingProject">
      <ion-col>
          <button (click)="addProject()" float-right class="font-white transparent">
            <img src="../../assets/icon/icon_add.png" class="margin-auto-auto img-height-60px img-width-60px">
          </button>
      </ion-col>
    </ion-row>
    <ion-card class="width-90 margin-auto transparent margin-bottom-10" *ngIf="addingProject">
      <ion-row class="no-padding">
        <ion-input class="transparent display-inline-block margin-0 width-90 placeholder-white border-bottom-1 font-gray font-size-20px" type="text" (ionFocus)="ionFocus($event)" (keyup.enter)="createProject(newProject)" autocapitalize="on" [(ngModel)]="newProject" placeholder="{{'Define new goal' | translate}}..."></ion-input>
      </ion-row>
      <ion-row>
        <ion-col class="flex">
          <button class="transparent margin-auto" (click)="createProject(newProject)">
              <img src="../../assets/icon/icon_confirm.png" class="img-height-60px img-width-60px">
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
		<ion-row class="margin-left-30 margin-bottom-10" *ngFor="let goal of goalArray">
			<button class="transparent font-gray width-100 text-align-left font-size-20px" (click)="chooseGoal(goal)">
				<span>{{goal.name}}</span>
			</button>
		</ion-row>
  </ion-grid>

</ion-content>
