<ion-header>
  	<ion-toolbar color="secondary">
	    <ion-row>
	    	<ion-col size="10" class="flex">
	    		<span class="border-bottom-1 text-align-center margin-auto display-inline-block width-70 font-size-30px font-white">
	    		{{"Define todos" | translate }}
	    	</span>
	    	</ion-col>
	    	<ion-col size="2">
	    		<button class="icon-only-button margin-right-20" (click)="cancel()">
			      <img src="../../assets/icon/icon_cancel.png" height="20">
			    </button>
			</ion-col>
  		</ion-row>
	</ion-toolbar>
</ion-header>


<ion-content class="background-gray font-white">
	<ion-row *ngFor="let todo of todos">
		<ion-col size="10">
			<ion-input class="border-bottom-1 font-white" type="text" autocapitalize="on" [(ngModel)]="todo.content" placeholder="{{'Define action' | translate}}..."></ion-input>
		</ion-col>
		<ion-col size="2" *ngIf="todo.content">
			<button class="transparent" (click)="deleteTodo(todo)">
				<img src="../../assets/icon/icon_delete.png">
			</button>
		</ion-col>
	</ion-row>
	<ion-row class="text-align-right margin-top-10">
        <ion-col>
          <button (click)="addTodo()" float-right class="font-white transparent">
            <img src="../../assets/icon/icon_add.png" class="margin-auto-auto img-height-60px img-width-60px">
          </button>
        </ion-col>
    </ion-row>
	<ion-row class="margin-top-45">
	    <button class="transparent font-white margin-auto width-100" (click)="defineTodos()">
	    	<img src="../../assets/icon/icon_confirm.png" height="30" class="margin-auto">
	    </button>
	</ion-row>
</ion-content>
