<ion-header>
  	<ion-toolbar color="secondary">
	    <ion-row>
	    	<ion-col size="10" class="flex">
	    		<span class="margin-auto">{{"Define 5 todos" | translate }}</span>
	    	</ion-col>
	    	<ion-col size="2">
	    		<button class="icon-only-button margin-right-20" (click)="cancel()">
			      <img src="../../assets/icon/icon_cancel.png" height="20">
			    </button>
			</ion-col>
  		</ion-row>
	</ion-toolbar>
</ion-header>


<ion-content class="background-gray font-white">
	<ion-input class="border-bottom-1 font-white" type="text" (ionChange)="ionChange()" autocapitalize="on" [(ngModel)]="todos[0].content" placeholder="{{'Define action' | translate}}..."></ion-input>
	<ion-input class="border-bottom-1 font-white" type="text" (ionChange)="ionChange()" autocapitalize="on" [(ngModel)]="todos[1].content" placeholder="{{'Define action' | translate}}..."></ion-input>
	<ion-input class="border-bottom-1 font-white" type="text" (ionChange)="ionChange()" autocapitalize="on" [(ngModel)]="todos[2].content" placeholder="{{'Define action' | translate}}..."></ion-input>
	<ion-input class="border-bottom-1 font-white" type="text" (ionChange)="ionChange()" autocapitalize="on" [(ngModel)]="todos[3].content" placeholder="{{'Define action' | translate}}..."></ion-input>
	<ion-input class="border-bottom-1 font-white" type="text" (ionChange)="ionChange()" autocapitalize="on" [(ngModel)]="todos[4].content" placeholder="{{'Define action' | translate}}..."></ion-input>
	<ion-row *ngIf="showDone" class="margin-top-45">
	    <button class="transparent font-white margin-auto width-100" (click)="defineTodos()">
	    	<img src="../../assets/icon/icon_confirm.png" height="30" class="margin-auto">
	    </button>
	</ion-row>
</ion-content>
