<ion-header>
  <ion-toolbar color="primary">
    <ion-button float-right icon-only (click)="cancel()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{"Delegation Details" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding color="secondary">
        <ion-list inset class="text-align-center">
          <form (ngSubmit)="check()" [formGroup]="defineDelegationForm">
            <ion-item no-lines>
              <ion-input type="text" [(ngModel)]="delegation.content" formControlName="content"></ion-input>
            </ion-item>
            <div *ngIf="delegation.deadline">
              <div *ngIf="!edit">
                <ion-item no-lines>
                  {{"Deadline" | translate}}: {{deadlineString}}
                  <ion-button class="darkbutton" type="button" (click)="editDeadline()">{{"Edit" | translate }}</ion-button>
                </ion-item>
              </div>
              <div *ngIf="edit">
                <ion-item no-lines>
                  <ionic-calendar-date-picker [monthLabels]="monthLabels" [dayLabels]="dayLabels" (onSelect)="deadlineSelected($event)"></ionic-calendar-date-picker> 
                </ion-item>
              </div>
            </div>
            <div *ngIf="!delegation.deadline">
              <ion-item no-lines>
                <ion-button class="darkbutton" type="button" (click)="editDeadline()">{{"Add deadline" | translate }}</ion-button>
              </ion-item>
              <div *ngIf="edit">
                <ion-item no-lines>
                  <ionic-calendar-date-picker [monthLabels]="monthLabels" [dayLabels]="dayLabels" (onSelect)="deadlineSelected($event)"></ionic-calendar-date-picker> 
                </ion-item>
              </div>
            </div>
            <ion-button class="darkbutton" type="submit">{{"Save" | translate }}</ion-button>
            <ion-button class="button-left darkbutton" type="button" (click)="deleteDelegation()">{{"Delete" | translate }}</ion-button>
          </form>
        </ion-list>
</ion-content>

