<ion-app>
  <ion-menu contentId="content1" side="start" type="overlay">
  		<ion-header>
    		<ion-toolbar class="text-align-center">
      			<ion-title>Menu</ion-title>
    		</ion-toolbar>
  		</ion-header>
  		<ion-content>
  			<ion-list class="transparent">
  				<ion-menu-toggle>
    				<ion-item (click)="goToPage('privacy-policy')" class="transparent border-bottom-1">{{"Privacy Policy" | translate}}</ion-item>
				</ion-menu-toggle>
			 </ion-list>
  		</ion-content>
	</ion-menu>
	<ion-router-outlet id="content1" main></ion-router-outlet>
  	<ion-router-outlet></ion-router-outlet>
</ion-app>
