<ion-header>
  <ion-toolbar color="secondary">
    <ion-row>
	    	<ion-col size="10" class="flex">
	    		<span class="margin-auto">{{"Assign Project" | translate }}</span>
	    	</ion-col>
	    	<ion-col size="2">
	    		<button class="icon-only-button margin-right-20" (click)="cancel()">
			      <img src="../../assets/icon/icon_cancel.png" height="20">
			    </button>
			</ion-col>
  		</ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="background-gray">
	<div *ngIf="viewpoint == 'todo'" class="width-100 margin-0 transparent font-gray">
		<ion-row class="font-white margin-left-30 margin-bottom-10" *ngFor="let todo of actionArray">
			<ion-col>{{todo.content}}
			</ion-col>
			<ion-col>
				<button *ngIf="todo.goalid == 'unassigned'" (click)="assignProject(todo)" class="font-white transparent">
					{{"Assign Project" | translate}}...
				</button>
				<button *ngIf="todo.goalid != 'unassigned'" (click)="assignProject(todo)" class="font-white transparent">
					{{goalDict[todo.goalid].name}}
				</button>
			</ion-col>
		</ion-row>
	</div>
	
	<div *ngIf="viewpoint == 'project'" class="margin-top-20">
		<ion-row class="text-align-right" *ngIf="!addingProject">
	        <ion-col>
	          	<button (click)="addProject()" float-right class="font-white transparent">
	            	<img src="../../assets/icon/icon_add.png" class="margin-auto-auto img-height-60px img-width-60px">
	          	</button>
	        </ion-col>
	    </ion-row>
	    <ion-card class="width-90 margin-auto transparent" *ngIf="addingProject">
	        <ion-row class="no-padding">
	          	<ion-input class="transparent display-inline-block margin-0 width-90 placeholder-white border-bottom-1 font-gray" type="text" (ionFocus)="ionFocus($event)" (keyup.enter)="addGoal(goalname)" autocapitalize="on" [(ngModel)]="newProject.name" placeholder="{{'Define new goal' | translate}}..."></ion-input>
	        </ion-row>
	        <ion-row>
	          	<ion-col class="flex">
	            	<button class="transparent margin-auto" (click)="createProject()">
	              		<img src="../../assets/icon/icon_confirm.png" height="25">
	            	</button>
	          	</ion-col>
	        </ion-row>
	    </ion-card>
		<ion-row class="margin-left-30 margin-bottom-10" *ngFor="let goal of goalArray">
			<button class="transparent font-gray width-100 text-align-left" (click)="chooseGoal(goal)">
				<span>{{goal.name}}</span>
			</button>
		</ion-row>
	</div>

	<ion-row *ngIf="viewpoint == 'todo'" class="margin-top-45">
	    <button class="transparent font-white margin-auto width-100" (click)="assign()">
	    	<img src="../../assets/icon/icon_confirm.png" height="30" class="margin-auto">
	    </button>
	</ion-row>

</ion-content>
