<ion-content class="width-100">
<ion-row class="margin-top-35 color-39297F">
  <ion-col size="3">
    <button class="transparent color-6049C4 font-size-17px" (click)="cancel()">
      {{"Cancel" | translate}}
    </button>
  </ion-col>
  <ion-col *ngIf="type == 'add'" size="6" class="text-align-center font-size-17px font-weight-bold">
    {{"Add Project" | translate}}
  </ion-col>
  <ion-col *ngIf="type == 'show'" size="6" class="text-align-center font-size-17px font-weight-bold">
    {{"Project" | translate}}
  </ion-col>
  <ion-col *ngIf="type == 'add' || changed" size="3" class="text-align-right">
    <button class="transparent color-6049C4 font-size-17px" (click)="save()">
      {{"Save" | translate}}
    </button>
  </ion-col>
</ion-row>
<ion-row class="margin-bottom-10">
  <div class="width-90 border-6049C4-50per border-radius-15px margin-top-10-auto flex">
    <img src="../../assets/icon/purple/icon_project.svg" height="24" class="margin-left-5-auto">
    <ion-input (ionInput)="change()" [(ngModel)]="project.name" placeholder="{{'Project name' | translate}}" type="text" class="display-inline-block width-100-minus-26 margin-left-5 text-align-left color-22194D"></ion-input>
  </div>
</ion-row>
<ion-row class="margin-bottom-20 width-90 margin-horizontal-auto flex justify-content-space-between">
  <span *ngFor="let color of projectColors">
    <span class="height-30px width-30px border-radius-30px display-inline-block flex" [ngStyle]="{'background-color': color}" (click)="assignColor(color)">
      <img *ngIf="color == project.color" src="../../assets/icon/purple/icon_checkmark.svg" height="15" class="margin-auto">
    </span>
  </span>
</ion-row>
<ion-row *ngIf="type == 'show'">
  <div class="margin-horizontal-auto margin-bottom-20 flex border-radius-10px padding-right-5 height-36px">
    <button class="font-size-20px transparent font-red border-1px-red border-radius-20px" (click)="delete()">{{"Delete" | translate}}</button>
  </div>
</ion-row>
</ion-content>
