<ion-header>
	<ion-toolbar *ngIf="loggedin && viewpoint != 'ActionPage'" id="headerr" class="height-169px">
    <div class="width-100 height-169px headerr">
      <ion-grid *ngIf="viewpoint != 'ActionPage' && viewpoint != 'PrivacyPolicyPage' && viewpoint != 'ProjectOverviewPage' && loggedin">
        <ion-row>
          <ion-col size="2" class="flex text-align-center no-padding">
            <button (click)="openMenu()" class="transparent margin-top-34">
              <img src="../../assets/icon/purple/icon_menu.svg" height="44">
            </button>
          </ion-col>
          <ion-col size="8" class="page-title flex no-padding">
            <span class="margin-top-40 margin-horizontal-auto">{{pageTitle | translate}}</span>
          </ion-col>
          <ion-col size="2" class="flex text-align-center no-padding">
            <!--
            <button (click)="search()" class="transparent margin-top-26">
              <img src="../../assets/icon/purple/icon_search.svg" height="44" class="margin-auto-auto">
            </button>
          -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="viewpoint == 'PrivacyPolicyPage'">
        <ion-row>
          <ion-col size="2" class="flex text-align-center no-padding">
            <button class="transparent margin-top-40" (click)="goToToDoPage()">
              <img src="../../assets/icon/purple/icon_arrow_left.svg" height="24">
            </button>
          </ion-col>
          <ion-col size="8" class="page-title flex no-padding">
            <span class="margin-top-40 margin-horizontal-auto">{{pageTitle | translate}}</span>
          </ion-col>
          <ion-col size="2" class="flex text-align-center no-padding">
            <!--
            <button (click)="search()" class="transparent margin-top-26">
              <img src="../../assets/icon/purple/icon_search.svg" height="44" class="margin-auto-auto">
            </button>
          -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="viewpoint == 'ProjectOverviewPage'">
        <ion-row>
          <ion-col size="2" class="flex text-align-center no-padding">
            <button class="transparent margin-top-40" (click)="goToItemsPage('projects')">
              <img src="../../assets/icon/purple/icon_arrow_left.svg" height="24">
            </button>
          </ion-col>
          <ion-col size="8" class="page-title flex no-padding">
            <span class="margin-top-40 margin-horizontal-auto">{{pageTitle | translate}}</span>
          </ion-col>
          <ion-col size="2" class="flex text-align-center no-padding">
            <!--
            <button (click)="search()" class="transparent margin-top-26">
              <img src="../../assets/icon/purple/icon_search.svg" height="44" class="margin-auto-auto">
            </button>
          -->
          </ion-col>
        </ion-row>
        <ion-row class="width-100">
          <button class="transparent padding-5 background-EDF2FF color-39297F flex margin-horizontal-auto border-radius-30px" (click)="editGoal(goal)">
            <img src="../../assets/icon/purple/icon_edit.svg" height="12" class="margin-vertical-center margin-right-5">
            {{"Edit" | translate}}
          </button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
  <ion-toolbar *ngIf="!loggedin" class="background-FCFDFF">
    <div *ngIf="!loggedin" class="width-45px margin-top-34">
      <ion-menu-button class="no-padding">
        <img src="../../assets/icon/purple/icon_menu.svg" height="44">
      </ion-menu-button>
    </div>
	</ion-toolbar>
</ion-header>

<ion-content class="background-FCFDFF">

  <!-- Mobile LaunchPage -->
	<div *ngIf="viewpoint == 'LaunchPage'" class="height-100 width-100">
    <div class="margin-horizontal-auto font-size-48px color-6049C4 text-align-center">{{"Hi there, I'm Gossik" | translate}}</div>
    <img src="../../assets/icon/purple/robot_circle.svg" class="margin-top-20 margin-horizontal-auto display-block" height="180">
    <div class="width-90 margin-horizontal-auto font-size-16px color-6049C4 text-align-center margin-top-30">{{"I am your digital organizing assistant." | translate}}</div>
    <br>
    <div class="width-90 margin-horizontal-auto font-size-16px color-6049C4 text-align-center">{{"I will get to know you and learn from you to actively help you organize your day and manage your to-do list and calendar." | translate}}</div>
    <ion-row class="width-90 margin-horizontal-auto flex margin-top-20">
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-6049C4 color-FFFFFF margin-horizontal-auto" (click)="launchNext('1')">{{"Start Tour!" | translate}}</button>
    </ion-row>
    <ion-row class="width-90 margin-horizontal-auto flex margin-top-20">
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-FFFFFF color-6049C4 margin-horizontal-auto" (click)="goToLoginPage()">{{"I already have an account" | translate}}</button>
    </ion-row>
  </div>

  <!-- Mobile OnboardingPageOne -->
	<div *ngIf="viewpoint == 'OnboardingPageOne'" class="height-100-minus-10px width-100">
    <div class="height-100 flex flex-direction-column">
      <div class="flex-grow-1"></div>
      <div class="width-90 margin-horizontal-auto font-size-24px color-6049C4 text-align-center margin-top-10">{{"A free and focused mind helps you to achieve anything you want!" | translate}}</div>
      <div class="width-90 margin-horizontal-auto font-size-24px color-6049C4 text-align-center margin-top-10">{{"Tell me everything that is going on in your mind and let me take care of it." | translate}}</div>
      <img src="../../assets/icon/purple/robot_arms_open.svg" class="margin-top-20 margin-horizontal-auto display-block" height="180">
      <ion-row class="width-90 margin-horizontal-auto flex margin-top-10">
        <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-6049C4 color-FFFFFF margin-horizontal-auto margin-top-20 margin-bottom-100" (click)="launchNext('2')">{{"And Then?" | translate}}</button>
      </ion-row>
    </div>
  </div>

  <!-- Mobile OnboardingPageTwo -->
	<div *ngIf="viewpoint == 'OnboardingPageTwo'" class="height-100-minus-10px width-100">
    <div class="height-100 flex flex-direction-column">
      <div class="flex-grow-1"></div>
      <div class="width-90 margin-horizontal-auto font-size-20px color-6049C4 text-align-center margin-top-10">{{"I will learn your routines and get an overview of your to-dos, schedule, deadlines, and so on." | translate}}</div>
      <div class="width-90 margin-horizontal-auto font-size-20px color-6049C4 text-align-center margin-top-10">{{"With that knowledge, I will try my best to keep your to-do list up-to-date and help you get everything done in time." | translate}}</div>
      <img src="../../assets/icon/purple/robot_arms_together.svg" class="margin-top-20 margin-horizontal-auto display-block" height="180">
      <ion-row class="width-90 margin-horizontal-auto flex margin-top-10">
        <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-6049C4 color-FFFFFF margin-horizontal-auto margin-top-20 margin-bottom-100" (click)="launchNext('3')">{{"Sounds Exciting!" | translate}}</button>
      </ion-row>
    </div>
  </div>

  <!-- Mobile OnboardingPageThree -->
	<div *ngIf="viewpoint == 'OnboardingPageThree'" class="height-100-minus-10px width-100">
    <div class="height-100 flex flex-direction-column">
      <div class="flex-grow-1"></div>
      <div class="width-90 margin-horizontal-auto font-size-20px color-6049C4 text-align-center margin-top-10">{{"To help you even more, I’m going to actively remind you of the right things at the right time." | translate}}</div>
      <div class="width-90 margin-horizontal-auto font-size-20px color-6049C4 text-align-center margin-top-10">{{"With me, you don’t have to worry about anything anymore." | translate}}</div>
      <img src="../../assets/icon/purple/robot_one_arm_up.svg" class="margin-top-20 margin-horizontal-auto display-block" height="180">
      <ion-row class="width-90 margin-horizontal-auto flex margin-top-10">
        <button *ngIf="!loggedin" class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-6049C4 color-FFFFFF margin-horizontal-auto margin-top-20 margin-bottom-100" (click)="goToSignUpPage()">{{"Sign Me Up!" | translate}}</button>
        <button *ngIf="loggedin" class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-6049C4 color-FFFFFF margin-horizontal-auto margin-top-20 margin-bottom-100" (click)="goToToDoPage()">{{"Login" | translate}}</button>
      </ion-row>
    </div>
  </div>

  <!-- Mobile LoginPage -->
	<div *ngIf="viewpoint == 'LoginPage'" class="height-100 width-100">
    <div class="margin-horizontal-auto font-size-48px color-6049C4 text-align-center">{{"Login" | translate}}</div>
    <img src="../../assets/icon/purple/robot_circle.svg" class="margin-top-20 margin-horizontal-auto display-block" height="244">
    <ion-input class="margin-top-20 width-90 margin-horizontal-auto border-6049C4-50per show-full-highlight-0 font-size-18px padding-5 border-radius-15px background-FFFFFF" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" placeholder="{{'Email' | translate }}" [(ngModel)]="loginEmail"></ion-input>
    <ion-input class="width-90 margin-horizontal-auto margin-top-15 border-6049C4-50per font-size-18px padding-5 border-radius-15px background-FFFFFF" type="password" placeholder="{{'Password' | translate }}" [(ngModel)]="loginPassword"></ion-input>
    <div padding-horizontal class="text-align-center margin-top-20">
      <div class="form-error">{{loginError}}</div>
      <button class="font-size-18px margin-auto padding-horizontal-50 background-6049C4 color-FFFFFF height-48px border-radius-48px" (click)="login()">{{"Log in" | translate }}</button>	
    </div>
    <ion-list class="margin-top-10 transparent flex justify-content-center">
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-FFFFFF color-6049C4 margin-horizontal-auto" (click)="launchNext('1')">
        {{"Sign up" | translate }}
      </button>
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-FFFFFF color-6049C4 margin-horizontal-auto" (click)="goToForgotPassword()">
        {{"Forgot password" | translate }}
      </button>
    </ion-list>
  </div>
  
  <!-- Mobile SignUpPage -->
	<div *ngIf="viewpoint == 'SignUpPage'" class="height-100 width-100">
    <div class="margin-horizontal-auto font-size-48px color-6049C4 text-align-center">{{"Sign Up" | translate}}</div>
    <img src="../../assets/icon/purple/robot_circle.svg" class="margin-top-20 margin-horizontal-auto display-block" height="244">
    <ion-input class="margin-top-20 width-90 margin-horizontal-auto border-6049C4-50per show-full-highlight-0 font-size-18px padding-5 border-radius-15px background-FFFFFF" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" placeholder="{{'Email' | translate }}" [(ngModel)]="signUpEmail"></ion-input>
    <ion-input class="width-90 margin-horizontal-auto margin-top-15 border-6049C4-50per font-size-18px padding-5 border-radius-15px background-FFFFFF" type="password" placeholder="{{'Password' | translate }}" [(ngModel)]="signUpPassword"></ion-input>
    <div padding-horizontal class="text-align-center margin-top-20">
      <div class="form-error">{{signUpError}}</div>
      <button class="font-size-18px margin-auto padding-horizontal-50 background-6049C4 color-FFFFFF height-48px border-radius-48px" (click)="signUp()">{{"Sign up" | translate }}</button>
    </div>
    <ion-list class="margin-top-10 transparent flex justify-content-center">
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-FFFFFF color-6049C4 margin-horizontal-auto" (click)="goToLoginPage()">
        {{"Login" | translate }}
      </button>
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-FFFFFF color-6049C4 margin-horizontal-auto" (click)="goToForgotPassword()">
        {{"Forgot password" | translate }}
      </button>
    </ion-list>
  </div>
  
  <!-- Mobile ResetPasswordPage -->
	<div *ngIf="viewpoint == 'ResetPasswordPage'" class="height-100 width-100">
    <div class="margin-horizontal-auto font-size-48px color-6049C4 text-align-center">{{"Reset Password" | translate}}</div>
    <img src="../../assets/icon/purple/robot_circle.svg" class="margin-top-20 margin-horizontal-auto display-block" height="244">
    <ion-input class="margin-top-20 width-90 margin-horizontal-auto border-6049C4-50per show-full-highlight-0 font-size-18px padding-5 border-radius-15px background-FFFFFF" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" placeholder="{{'Email' | translate }}" [(ngModel)]="resetPasswordEmail"></ion-input>
    <div padding-horizontal class="text-align-center margin-top-20">
      <div class="form-error">{{resetPasswordError}}</div>
      <button class="font-size-18px margin-auto padding-horizontal-50 background-6049C4 color-FFFFFF height-48px border-radius-48px" (click)="resetPassword()">{{"Reset password" | translate }}</button>			
    </div>
    <ion-list class="margin-top-10 transparent flex justify-content-center">
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-FFFFFF color-6049C4 margin-horizontal-auto" (click)="goToLoginPage()">
        {{"Login" | translate }}
      </button>
      <button class="font-size-18px padding-vertical-10 padding-horizontal-20 border-radius-20px background-FFFFFF color-6049C4 margin-horizontal-auto" (click)="launchNext('1')">
        {{"Sign up" | translate }}
      </button>
    </ion-list>
  </div>


  <!-- Mobile SettingsPage -->
  <div class="width-90 padding-10 height-100-minus-95px overflow-scroll no-scrollbar" *ngIf="viewpoint == 'SettingsPage' && isApp">
    <ion-grid>
      <ion-row>
        <button class="font-size-20px height-36px border-radius-20px background-6049C4 color-FFFFFF margin-left-20" (click)="logout()">
          {{"Logout" | translate }}
        </button>
      </ion-row>
      <ion-row>
        <button class="font-size-20px height-36px border-radius-20px background-6049C4 color-FFFFFF margin-left-20 margin-top-10" (click)="goToSendPushPage()" *ngIf="isAdmin">
          {{"Send Push" | translate }}
        </button>
      </ion-row>
      <ion-row class="margin-top-20">
        <span class="font-size-18px color-39297F font-weight-bold">{{"Manage Attributes" | translate}}</span>
      </ion-row>
      <ion-row class="margin-top-10">
        <span class="margin-right-10 background-EDF2FF padding-10 border-radius-10px margin-bottom-10" *ngFor="let attribute of attributeArray">
          <span (click)="showAttribute(attribute)" class="font-size-15px color-6049C4">#{{attribute.content}}</span>
        </span>
      </ion-row>
      <ion-row>
        <button *ngIf="userProfile.subscription == 'themesFeature'" class="font-size-20px margin-top-10" (click)="goToThemesPage()">{{"Themes" | translate}}</button>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Mobile PrivacyPolicyPage -->
  <div class="height-100-minus-95px overflow-scroll no-scrollbar margin-auto" *ngIf="viewpoint == 'PrivacyPolicyPage' && isApp">
    <div class="transparent padding-10 width-90 color-6049C4 font-size-16px margin-auto">
      <p class="text-align-center">
      We built the Gossik app as
      a Freemium app. This SERVICE is provided by
      Gossik at no cost and is intended for
      use as is.
      </p>
      <p class="text-align-center">
      This page is used to inform visitors regarding
      our policies with the collection, use, and
      disclosure of Personal Information if anyone decided to use
      our Service.
      </p>
      <p class="text-align-center">
      If you choose to use our Service, then you agree
      to the collection and use of information in relation to this
      policy. The Personal Information that we collect is
      used for providing and improving the Service.
      We will not use or share your
      information with anyone except as described in this Privacy
      Policy.
      </p>
      <p class="text-align-center">
      The terms used in this Privacy Policy have the same meanings
      as in our Terms and Conditions, which is accessible at
      Gossik unless otherwise defined in this Privacy
      Policy.
      </p>
      <p class="text-align-center"><strong>Information Collection and Use</strong></p>
      <p class="text-align-center">
      For a better experience, while using our Service,
      we may require you to provide us with certain
      personally identifiable information, including but not limited to email address. The
      information that we request will be
      retained by us and used as described in this privacy policy.
      </p>
      <p class="text-align-center">
      The app does use third party services that may collect
      information used to identify you.
      </p>
      <div>
      <p class="text-align-center">
        Link to privacy policy of third party service providers
        used by the app
      </p>
      <ul>
        <li>
          <a href="https://www.google.com/policies/privacy/" class="color-6049C4" target="_blank">Google Play Services</a>
        </li>
        <li>
          <a href="https://firebase.google.com/policies/analytics" class="color-6049C4" target="_blank">Firebase Analytics</a>
        </li>
        <li>
          <a href="https://firebase.google.com/terms/crashlytics" class="color-6049C4" target="_blank">Firebase Crashlytics</a>
        </li>
      </ul>
      </div>
      <p class="text-align-center"><strong>Log Data</strong></p>
      <p class="text-align-center">
      We want to inform you that whenever
      you use our Service, in a case of an error in the
      app we collect data and information (through third
      party products) on your phone called Log Data. This Log Data
      may include information such as your device Internet
      Protocol (“IP”) address, device name, operating system
      version, the configuration of the app when utilizing
      our Service, the time and date of your use of the
      Service, and other statistics.
      </p>
      <p class="text-align-center"><strong>Cookies</strong></p>
      <p class="text-align-center">
      Cookies are files with a small amount of data that are
      commonly used as anonymous unique identifiers. These are
      sent to your browser from the websites that you visit and
      are stored on your device's internal memory.
      </p>
      <p class="text-align-center">
      This Service does not use these “cookies” explicitly.
      However, the app may use third party code and libraries that
      use “cookies” to collect information and improve their
      services. You have the option to either accept or refuse
      these cookies and know when a cookie is being sent to your
      device. If you choose to refuse our cookies, you may not be
      able to use some portions of this Service.
      </p>
      <p class="text-align-center"><strong>Service Providers</strong></p>
      <p class="text-align-center">
      We may employ third-party companies
      and individuals due to the following reasons:
      </p>
      <ul>
      <li>To facilitate our Service;</li>
      <li>To provide the Service on our behalf;</li>
      <li>To perform Service-related services; or</li>
      <li>To assist us in analyzing how our Service is used.</li>
      </ul>
      <p class="text-align-center">
      We want to inform users of this
      Service that these third parties have access to your
      Personal Information. The reason is to perform the tasks
      assigned to them on our behalf. However, they are obligated
      not to disclose or use the information for any other
      purpose.
      </p>
      <p class="text-align-center"><strong>Security</strong></p>
      <p class="text-align-center">
      We value your trust in providing us
      your Personal Information, thus we are striving to use
      commercially acceptable means of protecting it. But remember
      that no method of transmission over the internet, or method
      of electronic storage is 100% secure and reliable, and
      we cannot guarantee its absolute security.
      </p>
      <p class="text-align-center"><strong>Links to Other Sites</strong></p>
      <p class="text-align-center">
      This Service may contain links to other sites. If you click
      on a third-party link, you will be directed to that site.
      Note that these external sites are not operated by
      us. Therefore, we strongly advise you to
      review the Privacy Policy of these websites.
      We have no control over and assume no
      responsibility for the content, privacy policies, or
      practices of any third-party sites or services.
      </p>
      <p class="text-align-center"><strong>Children’s Privacy</strong></p>
      <p class="text-align-center">
      These Services do not address anyone under the age of 13.
      We do not knowingly collect personally
      identifiable information from children under 13. In the case
      we discover that a child under 13 has provided
      us with personal information,
      we immediately delete this from our servers. If you
      are a parent or guardian and you are aware that your child
      has provided us with personal information, please contact
      us so that we will be able to do
      necessary actions.
      </p>
      <p class="text-align-center"><strong>Changes to This Privacy Policy</strong></p>
      <p class="text-align-center">
      We may update our Privacy Policy from
      time to time. Thus, you are advised to review this page
      periodically for any changes. We will
      notify you of any changes by posting the new Privacy Policy
      on this page. These changes are effective immediately after
      they are posted on this page.
      </p>
      <p class="text-align-center"><strong>Contact Us</strong></p>
      <p class="text-align-center">
      If you have any questions or suggestions about
      our Privacy Policy, do not hesitate to contact
      us at benno.staub@gossik.ch.
      </p>
      </div>
  </div>

  <!-- Mobile AssistantPage -->
  <div class="height-100-minus-95px overflow-scroll no-scrollbar width-90 margin-auto" *ngIf="viewpoint == 'AssistantPage' && isApp">
    <ion-row class="width-100 text-align-right margin-bottom-20 margin-horizontal-auto">
      <ion-segment (ionChange)="switchAssistantTab($event)" value="today" mode="ios" class="background-EDF2FF height-35px border-radius-35px">
        <ion-segment-button  value="today" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
          <ion-label class="font-weight-bold">{{"Today" | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistics" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
          <ion-label class="font-weight-bold">{{"Statistics" | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="suggestions" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
          <ion-label class="font-weight-bold">{{"Suggestions" | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <div *ngIf="pageCtrl == 'today'" class="margin-top-25 height-100-minus-45px overflow-scroll no-scrollbar">
      <ion-row>
        <ion-col size="4" class="no-padding flex">
          <img src="../../assets/icon/purple/robot_circle.svg" height="80">
        </ion-col>
        <ion-col size="8" class="no-padding flex">
          <div class="border-radius-15px background-EDF2FF padding-20 width-100">
            <span class="font-size-18px color-39297F margin-auto">Hello this is a placeholder text for now.</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="font-size-18px margin-top-25 color-39297F font-weight-bold">
        {{"Appointments & Meetings" | translate}}
      </ion-row>
      <ion-row class="margin-top-20 padding-15 background-F6F7FB seperating-border-bottom border-radius-15px" *ngFor="let calendarEvent of calendarEventsToday">
          <button  class="transparent text-align-left no-padding" (click)="onEventSelected(calendarEvent)">
            <span class="font-size-18px color-39297F">
              {{calendarEvent.startTimeString}} {{calendarEvent.title}}
            </span>
          </button>
      </ion-row>
      <ion-row class="font-size-18px margin-top-25 color-39297F font-weight-bold">
        {{"Critical Tasks" | translate}}
      </ion-row>
      <ion-row class="margin-top-20 padding-15 background-F6F7FB seperating-border-bottom border-radius-15px">
        <span class="font-size-18px color-39297F">
         TBD
        </span>
      </ion-row>
    </div>
    <div *ngIf="pageCtrl == 'statistics'" class="margin-top-25 height-100-minus-45px overflow-scroll no-scrollbar">
      <ion-row (click)="assignAssistant()" class="border-radius-15px background-EDF2FF padding-5 margin-bottom-5 width-100">
        <span class="color-39297F font-size-18px margin-left-5">{{"Assistant Type" | translate}}: {{userProfile.assistant | translate}}</span>
      </ion-row>
      <ion-row class="border-radius-15px background-EDF2FF padding-5 margin-bottom-5 width-100">
        <span class="color-39297F font-size-18px margin-left-5 margin-vertical-auto">{{"Focus" | translate}}:</span>
        <ion-select [(ngModel)]="focusProjects" (ionChange)="setFocus($event)" multiple="true" class="padding-5" placeholder="{{'None' | translate}}">
          <ion-label>{{"Project" | translate }}</ion-label>
          <ion-select-option *ngFor="let goal of goalArray.slice(1)" value="{{goal.key}}">{{goal.name}}</ion-select-option>
        </ion-select>
      </ion-row>
      <div class="border-radius-15px background-EDF2FF padding-20 width-100">
        <ion-row class="font-size-18px color-39297F margin-auto display-block width-100 text-align-center">{{"After you’ve started using Gossik for some days I’ll be able to show you statistics on how you progress with your to-dos and I will be able to suggest improvements!" | translate}}</ion-row>
        <ion-row>
          <img src="../../assets/icon/purple/empty_state_assistant.svg" height="250" class="margin-horizontal-auto">
        </ion-row>
      </div>
    </div>
    <div *ngIf="pageCtrl == 'suggestions'" class="margin-top-25 height-100-minus-45px overflow-scroll no-scrollbar">
      <div *ngIf="suggestionArray.length > 0">
        <ion-row class="margin-horizontal-auto margin-bottom-20 padding-15 border-radius-15px seperating-border-bottom background-F6F7FB" *ngFor="let suggestion of suggestionArray">
          <button  class="transparent text-align-left" (click)="showSuggestion(suggestion)">
            <span class="font-size-18px color-39297F">
              {{suggestion.title}}
            </span>
          </button>
        </ion-row>
      </div>
      <div *ngIf="suggestionArray.length == 0" class="border-radius-15px background-EDF2FF padding-20 width-100">
        <ion-row class="font-size-18px color-39297F margin-auto display-block width-100 text-align-center">{{"After you’ve started using Gossik for some days I’ll be able to show you statistics on how you progress with your to-dos and I will be able to suggest improvements!" | translate}}</ion-row>
        <ion-row>
          <img src="../../assets/icon/purple/empty_state_assistant.svg" height="250" class="margin-horizontal-auto">
        </ion-row>
      </div>
    </div>
  </div>

  <!-- FeedbackPage -->
  <div class="margin-top-10 padding-10 width-100 text-align-center height-100-minus-95px" *ngIf="viewpoint == 'FeedbackPage'">
    <ion-grid>
      <ion-row>
        <div class="width-90 border-6049C4-50per border-radius-15px margin-top-20-auto flex">
          <ion-textarea [(ngModel)]="feedback" placeholder="{{'Input feedback'| translate}}" class="display-inline-block width-100-minus-26 margin-left-10 text-align-left color-39297F"></ion-textarea>
        </div>
      </ion-row>
      <ion-row class="flex margin-top-20">
        <button class="font-size-20px height-36px border-radius-20px background-6049C4 color-FFFFFF margin-horizontal-auto" (click)="sendFeedback(feedback)">{{"Send feedback" | translate}}</button>
      </ion-row>
    </ion-grid>
  </div>

  <!-- ShowFeedbackPage -->
  <div class="margin-top-10 padding-10   text-align-center height-100-minus-95px" *ngIf="viewpoint == 'ShowFeedbackPage'">
    <ion-item class="margin-bottom-10     border-bottom-1" *ngFor="let feedback of feedbackArray">{{feedback.feedback}}</ion-item>
  </div>

  <!-- SendPushPage -->
  <div class="margin-top-10 padding-10   text-align-center height-100-minus-95px" *ngIf="viewpoint == 'SendPushPage'">
    <ion-grid>
      <ion-row>
        <ion-textarea class="feedback     border-bottom-1" autoGrow="true" rows="3" cols="14" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="manualPushEN" placeholder="{{'Input EN push'| translate}}..."></ion-textarea>
      </ion-row>
      <ion-row>
        <ion-textarea class="feedback     border-bottom-1" autoGrow="true" rows="3" cols="14" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="manualPushDE" placeholder="{{'Input DE push'| translate}}..."></ion-textarea>
      </ion-row>
      <ion-row>
        <button class="button-design margin-auto margin-top-10" (click)="sendPush(manualPushEN, manualPushDE)">{{"Send push" | translate}}</button>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Mobile CapturePage -->
  <div *ngIf="viewpoint == 'CapturePage' && isApp" class="height-100-minus-95px">
      <ion-card class="width-100 margin-0 text-align-center overflow-scroll no-scrollbar display-inline-block   min-height-150px">
        <ion-row class="width-90 margin-top-45 margin-left-auto margin-right-auto">
          <ion-col size="9.6" class="no-padding">
          <ion-input class="border-bottom-1   display-inline-block margin-0 width-90 font-size-30px" type="text" (ionFocus)="ionFocus($event)" (ionBlur)="ionBlur($event)" (keyup.enter)="addCapture(newCapture)" autocapitalize="on" [(ngModel)]="newCapture.content" placeholder="{{'Input new capture'| translate}}..."></ion-input>
          </ion-col>
          <!--
          <ion-col size="1.2" class="flex text-align-center no-padding">
            <button class="  no-padding" (click)="addCapturePicture()">
              <img src="../../assets/icon/icon_camera.png" height="15">
            </button>
          </ion-col>
          <ion-col size="1.2" class="flex text-align-center no-padding">
            <button class="  no-padding margin-auto" (click)="addCaptureVoice()">
              <img src="../../assets/icon/icon_microphone.png" height="20" class="margin-bottom-3">
            </button>
          </ion-col>
        -->
        </ion-row>
        <ion-row class="width-50 margin-top-85 margin-right-auto margin-left-auto">
          <ion-col size="6" class="flex text-align-center no-padding">
            <button class="  margin-auto-auto" (click)="cancelCapture()">
              <img src="../../assets/icon/icon_cancel.png" class="margin-bottom-3 img-height-60px img-width-60px">
            </button>
          </ion-col>
          <ion-col size="6" class="flex text-align-center">
            <button class="  no-padding margin-auto" (click)="addCapture(newCapture)">
              <img src="../../assets/icon/icon_confirm.png" class="margin-bottom-3 img-height-90px img-width-70px">
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
  </div>

  <!-- Mobile ItemsPage -->
  <div *ngIf="viewpoint == 'ItemsPage' && isApp" class="no-scrollbar height-100-minus-95px margin-0 width-100">
    <ion-grid class="height-100 width-100 no-padding flex flex-direction-column">
      <ion-row class="width-90 text-align-right margin-bottom-20 margin-horizontal-auto">
        <ion-segment (ionChange)="switchItems($event)" value="{{pageCtrl}}" mode="ios" class="background-EDF2FF height-35px border-radius-35px">
          <ion-segment-button  value="thoughts" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
            <ion-label class="font-weight-bold">{{"Unassigned Thoughts" | translate}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="projects" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
            <ion-label class="font-weight-bold">{{"Projects" | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <div *ngIf="pageCtrl == 'thoughts'" class="overflow-scroll no-scrollbar width-90 margin-horizontal-auto margin-top-20">
        <ion-row class="margin-horizontal-auto margin-bottom-20 padding-15 border-radius-15px seperating-border-bottom background-F6F7FB" *ngFor="let capture of captureArray">
          <button  class="transparent text-align-left" (click)="showThought(capture, undefined)">
            <span class="font-size-18px color-39297F">
              {{capture.content}}
            </span>
          </button>
        </ion-row>
      </div>
      <div *ngIf="pageCtrl == 'projects'" class="overflow-scroll no-scrollbar width-90 margin-horizontal-auto margin-top-20">
        <ion-row (click)="goToProjectOverviewPage(goal)" class="margin-horizontal-auto margin-bottom-20 border-radius-15px seperating-border-bottom background-F6F7FB padding-15 width-100" *ngFor="let goal of goalArray.slice(1)">
          <ion-row class="width-100">
            <ion-card class="project-color" [ngStyle]="{'background-color': goal.color}"></ion-card>
            <span class="font-size-20px margin-left-7 font-weight-bold width-100-minus-30px one-line overflow-x-hidden color-39297F">
              {{goal.name}}
            </span>
          </ion-row>
          <ion-row class="width-100 color-39297F margin-top-15">
            <span *ngIf="references[goal.key]" class="font-size-18px font-weight-bold">{{references[goal.key].length}}</span>
            <span *ngIf="!references[goal.key]" class="font-size-18px font-weight-bold">0</span>
            <span class="font-size-18px margin-left-5">{{"Thoughts" | translate}}</span>
            <span *ngIf="actions[goal.key]"class="font-size-18px font-weight-bold margin-left-15">{{actions[goal.key].length}}</span>
            <span *ngIf="!actions[goal.key]" class="font-size-18px font-weight-bold margin-left-15">0</span>
            <span class="font-size-18px margin-left-5">{{"To-dos" | translate}}</span>
          </ion-row>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <!-- Mobile ProjectOverviewPage -->
  <div *ngIf="viewpoint == 'ProjectOverviewPage' && isApp" class="no-scrollbar overflow-scroll height-100-minus-95px width-100">
    <ion-row class="width-90 padding-8-0-8-0 margin-auto font-weight-bold color-39297F">
      {{"Thoughts" | translate}}
    </ion-row>
    <ion-row class="width-90 margin-horizontal-auto margin-bottom-20 padding-15 border-radius-15px seperating-border-bottom background-F6F7FB" *ngFor="let reference of references[goal.key]">
      <button  class="transparent text-align-left" (click)="showThought(reference, reference.goalid)">
        <span class="font-size-18px color-39297F">
          {{reference.content}}
        </span>
      </button>
    </ion-row>
    <ion-row class="width-90 padding-8-0-8-0 margin-auto font-weight-bold color-39297F">
      {{"To-dos" | translate}}
    </ion-row>
    <div *ngFor="let todo of actions[goal.key]" (click)="showToDo(todo)" class="margin-horizontal-auto color-39297F width-90 padding-15 border-radius-15px margin-top-10 seperating-border-bottom background-F6F7FB">
      <ion-row class="font-size-18px text-align-left">
        <span>
          {{todo.content}}
        </span>
      </ion-row>
      <ion-row class="text-align-left font-size-12px">
        <span *ngIf="todo.goalid != 'unassigned'" class="margin-right-3 border-radius-30px padding-3" [ngStyle]="{'background-color': goalDict[todo.goalid].color}">
          {{goalDict[todo.goalid].name}}
        </span>
        <span *ngIf="todo.deadline" class="margin-right-3 border-radius-30px background-FFFFFF padding-3">
          <img src="../../assets/icon/purple/icon_calendar.svg" class="margin-left-7-auto margin-right-3" height="10">{{dateFormated(todo.deadline)}}
        </span>
        <span *ngIf="todo.priority" class="margin-right-3 border-radius-30px background-FFFFFF padding-3">
          <img src="../../assets/icon/purple/icon_priority.svg" class="margin-left-7-auto margin-right-3" height="10">{{priorities[todo.priority] | translate}}
        </span>
        <span *ngIf="todo.time" class="margin-right-3 border-radius-30px background-FFFFFF padding-3">
          {{todo.time}}{{"min" | translate }}
        </span>
      </ion-row>
    </div>
  </div>

  <!-- Mobile FinishActionPage -->
  <div class="height-100-minus-95px overflow-scroll" *ngIf="viewpoint == 'FinishActionPage' && isApp">
    <ion-grid>
      <ion-row class="margin-top-45">
        <button class="button-design font-size-20px" (click)="defineFollowUpTodoNow()">
          {{"Define follow-up todo now" | translate}}
        </button>
      </ion-row>
      <ion-row class="margin-top-20">
        <button class="button-design font-size-20px" (click)="defineFollowUpTodoLater()">
          {{"Define follow-up todo later" | translate}}
        </button>
      </ion-row>
      <ion-row class="margin-top-20">
        <button class="button-design font-size-20px" (click)="noFollowUpTodoRequired()">
          {{"No follow-up todo required" | translate}}
        </button>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Mobile ToDoPage -->
  <div class="height-100-minus-95px" *ngIf="viewpoint == 'ToDoPage' && isApp">
    <ion-grid class="width-90 height-100 overflow-hidden no-padding flex flex-direction-column">
      <ion-row class="margin-bottom-10 min-height-75px">
        <ion-row class="width-100 flex justify-content-space-between">
          <span (click)="setAvailableTime()" class="flex background-EDF2FF border-radius-10px color-6049C4 padding-5">
            <img src="../../assets/icon/purple/icon_duration.svg" class="margin-vertical-auto" height="24">
            <span class="margin-vertical-auto font-size-16px font-weight-bold">{{"Set available time" | translate}}</span>
          </span>
          <span (click)="filterToDos()" class="flex background-EDF2FF border-radius-10px color-6049C4 padding-5">
            <img src="../../assets/icon/purple/icon_filter.svg" class="margin-vertical-auto" height="24">
            <span class="margin-vertical-auto margin-left-5 text-align-center font-size-16px font-weight-bold">{{"Filter" | translate}}</span>
          </span>
        </ion-row>
        <ion-row class="margin-horizontal-auto width-100">
          <div class="margin-top-10 flex justify-content-space-between background-EDF2FF border-radius-10px color-6049C4 width-100 padding-5">
            <span class="margin-vertical-auto font-size-16px font-weight-bold flex">
              <span class="margin-vertical-auto">
                {{"Smart assistant" | translate}}
              </span>
              <button (click)="showInfo('smartAssistant')" class="transparent margin-vertical-auto">
                <img src="../../assets/icon/purple/icon_info.svg" class="margin-left-7-auto" height="24">
              </button>
            </span>
            <span class="height-23px margin-vertical-auto">
              <ion-toggle mode="ios" color="tertiary" [(ngModel)]="userProfile.smartAssistant" (ionChange)="smartAssistant($event)" class="margin-vertical-auto zoom-0-7"></ion-toggle>
            </span>
          </div>
        </ion-row>
      </ion-row>
      <ion-row class="overflow-scroll no-scrollbar flex-grow-1">
        <div *ngIf="!userProfile.smartAssistant">
          <ion-grid *ngFor="let todo of doableActionArray" (click)="showToDo(todo)" class="shadow color-39297F border-radius-15px padding-15 width-100 margin-top-20 seperating-border-bottom background-F6F7FB">
            <ion-row class="font-size-18px text-align-left">
              <span>
                {{todo.content}}
                <span *ngFor="let attribute of todo.attributes"> #{{attribute}}</span>
              </span>
            </ion-row>
            <ion-row class="text-align-left font-size-12px">
              <span *ngIf="todo.goalid != 'unassigned'" class="margin-right-10 border-radius-30px padding-3" [ngStyle]="{'background-color': goalDict[todo.goalid].color}">
                {{goalDict[todo.goalid].name}}
              </span>
              <span *ngIf="todo.deadline" class="margin-right-10 border-radius-30px background-FFFFFF padding-3">
                <img src="../../assets/icon/purple/icon_calendar.svg" class="margin-left-7-auto margin-right-3" height="13">{{dateFormated(todo.deadline)}}
              </span>
              <span *ngIf="todo.priority" class="margin-right-10 border-radius-30px background-FFFFFF padding-3 flex">
                <img src="../../assets/icon/purple/icon_priority.svg" class="margin-left-7-auto margin-right-3 margin-vertical-auto" height="13">
                <span>{{priorities[todo.priority] | translate}}</span>
              </span>
              <span *ngIf="todo.time" class="margin-right-10 border-radius-30px background-FFFFFF padding-3">
                {{todo.time}}{{"min" | translate }}
              </span>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="userProfile.smartAssistant">
          <ion-grid *ngFor="let todo of doableActionArray" (click)="showToDo(todo)" class="color-39297F border-radius-15px padding-15 width-100 margin-top-10 seperating-border-bottom background-F6F7FB">
            <ion-row class="font-size-18px text-align-left">
              <span>
                {{todo.content}}
              </span>
            </ion-row>
            <ion-row class="text-align-left font-size-12px">
              <span *ngIf="todo.goalid != 'unassigned'" class="margin-right-3 border-radius-30px padding-3" [ngStyle]="{'background-color': goalDict[todo.goalid].color}">
                {{goalDict[todo.goalid].name}}
              </span>
              <span *ngIf="todo.deadline" class="margin-right-3 border-radius-30px background-FFFFFF padding-3">
                <img src="../../assets/icon/purple/icon_calendar.svg" class="margin-left-7-auto margin-right-3" height="13">{{dateFormated(todo.deadline)}}
              </span>
              <span *ngIf="todo.priority" class="margin-right-3 border-radius-30px background-FFFFFF padding-3 flex">
                <img src="../../assets/icon/purple/icon_priority.svg" class="margin-left-7-auto margin-right-3 margin-vertical-auto" height="13">
                <span>{{priorities[todo.priority] | translate}}</span>
              </span>
              <span *ngIf="todo.time" class="margin-right-3 border-radius-30px background-FFFFFF padding-3">
                {{todo.time}}{{"min" | translate }}
              </span>
            </ion-row>
          </ion-grid>
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Mobile ActionPage -->
  <div class="height-100-minus-95px" *ngIf="viewpoint == 'ActionPage' && isApp">
    <ion-grid class="height-100 width-90 overflow-scroll no-scrollbar">
      <ion-row class="margin-top-45 margin-auto font-size-32px text-align-center">
        <span class="margin-auto color-6049C4">
          {{"Focus on" | translate}}:
        </span>
      </ion-row>
      <ion-row class="margin-auto font-size-32px text-align-center">
        <span class="margin-auto color-39297F">
          {{startedAction.content}}
        </span>
      </ion-row>
      <ion-row class="margin-auto color-39297F text-align-center">
        <span class="margin-auto" *ngIf="startedAction.goalid != 'unassigned' && goalDict[startedAction.goalid] != undefined">
          {{goalDict[startedAction.goalid].name}}
        </span>
      </ion-row>
      <div class="margin-horizontal-auto margin-top-80 text-align-center width-260px height-260px background-focus-circle flex">
          <ion-row class="margin-auto color-6049C4 font-size-18px">
            <span class="margin-horizontal-auto display-block width-100 text-align-center">{{"Elapsed Time" | translate}}</span>
            <span class="margin-horizontal-auto display-block">{{elapsedTime}} {{"min" | translate}}</span>
          </ion-row>
      </div>
      <ion-row class="margin-top-45 margin-right-auto margin-left-auto">
        <ion-col class="flex text-align-center">
          <button class="font-size-20px height-36px border-radius-20px background-EDF2FF color-6049C4" (click)="stopToDo()">
            {{"Stop To-do" | translate}}
          </button>
        </ion-col>
        <ion-col class="flex text-align-center">
          <button class="font-size-20px height-36px border-radius-20px background-6049C4 color-FFFFFF margin-left-20" (click)="finishToDo()">
            {{"Finish" | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Mobile CalendarPage -->
  <div class="height-100-minus-95px width-100" *ngIf="viewpoint == 'CalendarPage' && isApp">
    <ion-grid class="width-90 height-100 flex flex-direction-column no-padding">
      <ion-row class="width-100 text-align-right margin-bottom-20">
        <ion-segment (ionChange)="changeCalendarMode($event)" value="{{calendar.mode}}" class="background-EDF2FF height-35px border-radius-35px">
          <ion-segment-button value="month" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
            <ion-label class="font-weight-bold">{{"Month" | translate}}</ion-label>
          </ion-segment-button>
        <!--
          <ion-segment-button value="week" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
            <ion-label class="font-weight-bold">{{"Week" | translate}}</ion-label>
          </ion-segment-button>
        -->
          <ion-segment-button value="day" class="border-style-none color-39297F padding-end-3 padding-start-3 border-radius-35px height-35px min-height-35px">
            <ion-label class="font-weight-bold">{{"Day" | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <div class="overflow-scroll no-scrollbar height-100 flex flex-direction-column">
        <ion-row class="width-100 margin-bottom-20">
          <button (click)="changeDateToday()" class="border-radius-20px background-6049C4 color-FFFFFF font-size-20px margin-right-0 margin-left-auto padding-10">
            {{"Today" | translate}}
          </button>
        </ion-row>
        <ion-row class="width-100 height-45px">
          <span class="flex width-100-minus-45px">
            <h3 class="font-size-24px color-39297F margin-vertical-auto">{{ viewTitle }}</h3>
          </span>
          <span class="flex">
            <button (click)="changeDate(-1)" class="transparent no-padding width-22px">
              <img src="../../assets/icon/purple/icon_arrow_left.svg" height="16">
            </button>
            <button (click)="changeDate(1)" class="transparent no-padding width-22px">
              <img src="../../assets/icon/purple/icon_arrow_right.svg" height="16">
            </button>
          </span>
        </ion-row>
        <ion-row class="width-100 flex-grow-1">
          <div class="width-100 height-100" *ngIf="calendar.mode == 'month'">
            <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
              <ion-grid class="event-detail-container" *ngIf="showEventDetail">
                    <ion-row *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)" class="padding-15 border-radius-15px margin-top-10 flex" [ngStyle]="{'background-color': event.color}">
                        <span *ngIf="!event.allDay" class="margin-vertical-auto font-size-18px color-39297F">{{event.startTime|date: 'HH:mm'}} {{event.title}}</span>
                        <span *ngIf="event.allDay" class="margin-vertical-auto font-size-18px color-39297F">{{allDayLabel}} {{event.title}}</span>
                    </ion-row>
                    <ion-row *ngIf="selectedDate?.events.length==0">
                        <div class="no-events-label font-size-18px color-39297F">{{noEventsLabel}}</div>
                    </ion-row>
                </ion-grid>
            </ng-template>
            <calendar [eventSource]="eventSource"
                      [calendarMode]="calendar.mode"
                      [currentDate]="calendar.currentDate"
                      (onEventSelected)="onEventSelected($event)"
                      (onTitleChanged)="onViewTitleChanged($event)"
                      (onTimeSelected)="onTimeSelected($event)"
                      step="5"
                      class="calendar height-100 color-6049C4"
                      autoSelect="true"
                      [weekviewNormalEventTemplate]="template"
                      [weekviewAllDayEventTemplate]="template"
                      [dayviewNormalEventTemplate]="template"
                      [dayviewAllDayEventTemplate]="template"
                      [monthviewEventDetailTemplate]="template"
                      scrollToHour="8"
                      [locale]="translate.currentLang"
                      formatHourColumn="{{'formatHourColumn' | translate }}"
                      formatWeekTitle="{{'formatWeekTitle' | translate }}"
                      formatDayTitle="{{'formatDayTitle' | translate }}"
                      startingDayWeek="1"
                      startingDayMonth="1">
            </calendar>
          </div>
          <div class="width-100 height-100" *ngIf="calendar.mode == 'day'">
            <ng-template #dayTemplate let-displayEvent="displayEvent" >
              <div class="calendar-event-inner color-39297F border-radius-2px" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
            </ng-template>
            <calendar [eventSource]="eventSource"
                      [calendarMode]="calendar.mode"
                      [currentDate]="calendar.currentDate"
                      (onEventSelected)="onEventSelected($event)"
                      (onTitleChanged)="onViewTitleChanged($event)"
                      (onTimeSelected)="onTimeSelected($event)"
                      step="5"
                      class="calendar height-100 color-6049C4"
                      autoSelect="false"
                      [dayviewNormalEventTemplate]="dayTemplate"
                      [dayviewAllDayEventTemplate]="dayTemplate"
                      scrollToHour="8"
                      [locale]="translate.currentLang"
                      formatHourColumn="{{'formatHourColumn' | translate }}"
                      formatWeekTitle="{{'formatWeekTitle' | translate }}"
                      formatDayTitle="{{'formatDayTitle' | translate }}"
                      startingDayWeek="1"
                      startingDayMonth=""
                      allDayLabel="">
            </calendar>
          </div>
        <!--
          <div class="width-100 padding-10 height-100" *ngIf="calendar.mode == 'week'">
            <ng-template #headerTemplate let-viewDate="viewDate"> 
              <div class="custom-day-header"> {{ viewDate.dayHeader }} hi </div> 
            </ng-template>
            <ng-template #weekviewEventTemplate let-displayEvent="displayEvent">
              <div class="calendar-event-inner color-39297F border-radius-2px font-size-10px" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
            </ng-template>
            <calendar [eventSource]="eventSource"
                      [calendarMode]="calendar.mode"
                      [currentDate]="calendar.currentDate"
                      (onEventSelected)="onEventSelected($event)"
                      (onTitleChanged)="onViewTitleChanged($event)"
                      (onTimeSelected)="onTimeSelected($event)"
                      class="calendar height-100 color-6049C4"
                      autoSelect="false"
                      [weekviewHeaderTemplate]="headerTemplate"
                      [weekviewNormalEventTemplate]="weekviewEventTemplate"
                      [weekviewAllDayEventTemplate]="template"
                      [locale]="translate.currentLang"
                      formatHourColumn="{{'formatHourColumn' | translate }}"
                      formatWeekTitle="{{'formatWeekTitle' | translate }}"
                      startingDayWeek="1"
                      allDayLabel="{{'Deadlines' | translate }}">
            </calendar>
          </div>
        -->
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <!-- Mobile Navigation Footer -->
  <div class="width-90 height-80px margin-bottom-15 margin-horizontal-auto flex background-navigation-bar" *ngIf="loggedin && isApp && userProfile && viewpoint != 'CapturePage' && viewpoint != 'ProcessCapturePage' && pageCtrl != 'ProjectOverview' && viewpoint != 'FeedbackPage'">
    <ion-row class="width-100 height-90 margin-vertical-auto border-radius-15px border-50per navigation-bar background-navigation-bar">
      <ion-col class="no-padding">
        <button class="transparent no-padding margin-auto width-100 height-100" (click)="goToToDoPage()">
          <ion-row>
          <img *ngIf="viewpoint == 'ToDoPage'" src="../../assets/icon/purple/icon_todo_active.svg" height="24" class="margin-auto">
          <img *ngIf="viewpoint != 'ToDoPage'" src="../../assets/icon/purple/icon_todo.svg" height="24" class="margin-auto">
          </ion-row>
        </button>
      </ion-col>
      <ion-col class="no-padding">
        <button class="transparent no-padding margin-auto width-100 height-100" (click)="goToItemsPage()">
          <ion-row>
          <img *ngIf="viewpoint == 'ItemsPage'" src="../../assets/icon/purple/icon_items_active.svg" height="24" class="margin-auto">
          <img *ngIf="viewpoint != 'ItemsPage'" src="../../assets/icon/purple/icon_items.svg" height="24" class="margin-auto">
          </ion-row>
        </button>
      </ion-col>
      <ion-col class="no-padding">
        <button class="transparent no-padding margin-auto width-100 height-100" (click)="presentPopover('add')">
          <ion-row>
          <img src="../../assets/icon/purple/icon_add.svg" height="48" class="margin-auto">
          </ion-row>
        </button>
      </ion-col>
      <ion-col class="no-padding">
        <button class="transparent no-padding margin-auto width-100 height-100" (click)="goToAssistantPage()">
          <ion-row>
          <img *ngIf="viewpoint == 'AssistantPage'" src="../../assets/icon/purple/icon_assistant_active.svg" height="24" class="margin-auto">
          <img *ngIf="viewpoint != 'AssistantPage'" src="../../assets/icon/purple/icon_assistant.svg" height="24" class="margin-auto">
          </ion-row>
        </button>
      </ion-col>
      <ion-col class="no-padding">
        <button class="transparent no-padding margin-auto width-100 height-100" (click)="goToCalendarPage()">
          <ion-row>
          <img *ngIf="viewpoint == 'CalendarPage'" src="../../assets/icon/purple/icon_calendar_active.svg" height="24" class="margin-auto">
          <img *ngIf="viewpoint != 'CalendarPage'" src="../../assets/icon/purple/icon_calendar.svg" height="24" class="margin-auto">
          </ion-row>
        </button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
