<ion-header>
	<ion-toolbar color="secondary">
    <div *ngIf="loggedin">
  		<div *ngIf="isApp && viewpoint != 'ProcessCapturePage'">
        <ion-buttons start>
          <ion-menu-button autoHide="false">
            <img src="../../assets/icon/icon_menu.png" height="17">
          </ion-menu-button>
        </ion-buttons>
      </div>
      <div *ngIf="isApp && viewpoint == 'ProcessCapturePage'">
        <button class="transparent" (click)="goToProcessPage()">
          <img src="../../assets/icon/icon_return_arrow.png" height="17">
        </button>
      </div>
      <div class="header-container" *ngIf="!isApp">
        	<button class="header-icon" (click)="goToCapturePage()">
        		<img class="header-logo" src="../../assets/icon/logo_schriftzug_weiss.png" height="60">
      	</button>
  	    <div class="header-icons-div">
  	      <button class="header-icon" (click)="goToCalendarPage()">
  	        <img src="../../assets/icon/icon_calendar.png" height="20"> {{"Calendar" | translate }}
  	      </button>
  	      <button class="header-icon" (click)="goToToDoPage()">
  	        <img src="../../assets/icon/icon_todo.png" height="20"> {{"ToDo" | translate }}
  	      </button>
  	      <button class="header-icon" (click)="goToProjectsPage()">
  	        <img src="../../assets/icon/icon_projects.png" height="20"> {{"Projects" | translate }}
  	      </button>
  	      <button class="header-icon" (click)="goToCapturePage()">
  	        <img src="../../assets/icon/icon_captures.png" height="20"> {{"Captures" | translate }}
  	      </button>
  	      <button class="header-icon" (click)="goToSettingsPage()">
  	        <img src="../../assets/icon/icon_settings.png" height="20"> {{"Settings" | translate }}
  	      </button>
  	    </div>
    	</div>
    </div>
	</ion-toolbar>
</ion-header>

<ion-content class="background-gray">

  <span class="font-white">{{errorMsg | translate}}</span>

  <!-- LoginPage -->
	<div *ngIf="viewpoint == 'LoginPage'">
		<ion-card class="secondary">
			<div *ngIf="pageCtrl == ''">
				<form (ngSubmit)="login()" [formGroup]="loginForm">
					<ion-list inset>
						<ion-item no-lines>
							<ion-input type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" placeholder="{{'Email' | translate }}" formControlName="email"></ion-input>
						</ion-item>
						<ion-item no-lines>
							<ion-input type="password" placeholder="{{'Password' | translate }}" formControlName="password"></ion-input>
						</ion-item>
					</ion-list>
					<div padding-horizontal>
						<div class="form-error">{{loginError}}</div>
						<ion-button expand="block" type="submit" [disabled]="!loginForm.valid">{{"Log in" | translate }}</ion-button>			
					</div>
				</form>
				<ion-list>
					<ion-button icon-left class="signInButton" (click)="goToSignUp()">
						<ion-icon name="person-add"></ion-icon>
						{{"Sign up" | translate }}
					</ion-button>
					<ion-button icon-left class="signInButton" (click)="goToForgotPassword()">
						{{"Forgot password" | translate }}
					</ion-button>
          <ion-button class="signInButton" (click)="goToPrivacyPolicyPage()">
            {{"Privacy Policy" | translate }}
          </ion-button>
				</ion-list>
			</div>
			<div *ngIf="pageCtrl == 'forgotPassword'">
				<form (ngSubmit)="resetPassword()" [formGroup]="forgotPasswordForm">
					<ion-list inset>
						<ion-item no-lines>
							<ion-input type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" placeholder="{{'Email' | translate }}" formControlName="email"></ion-input>
						</ion-item>
					</ion-list>
					<div padding-horizontal>
						<ion-button expand="block" type="submit" [disabled]="!forgotPasswordForm.valid">{{"Reset password" | translate }}</ion-button>			
					</div>
				</form>
			</div>
			<div *ngIf="pageCtrl == 'signUp'">
				<form (ngSubmit)="signUp()" [formGroup]="signUpForm">
					<ion-list inset>
						<ion-item no-lines>
							<ion-input type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" placeholder="{{'Email' | translate }}" formControlName="email"></ion-input>
						</ion-item>

						<ion-item no-lines>
							<ion-input type="password" placeholder="{{'Password' | translate }}" formControlName="password"></ion-input>
						</ion-item>
					</ion-list>
					<div padding-horizontal>

						<ion-button expand="block" type="submit" [disabled]="!signUpForm.valid">{{"Sign up" | translate }}</ion-button>
					</div>
				</form>
			</div>
		</ion-card>
	</div>

  <!-- SettingsPage -->
  <div class="margin-top-10 width-90 padding-10 secondary border-radius-20px height-90" *ngIf="viewpoint == 'SettingsPage'">
    <ion-button class="darkbutton width-auto" (click)="logout()">{{"Logout" | translate}}</ion-button>
    <ion-button class="darkbutton width-auto" (click)="goToFeedbackPage()">
      {{"Give Feedback" | translate }}
    </ion-button>
    <ion-button class="darkbutton width-auto" (click)="goToPrivacyPolicyPage()">
      {{"Privacy Policy" | translate }}
    </ion-button>
    <ion-button class="darkbutton width-auto" (click)="goToShowFeedbackPage()" *ngIf="isAdmin">
      {{"Show Feedback" | translate }}
    </ion-button>
    <ion-button class="darkbutton width-auto" (click)="goToSendPushPage()" *ngIf="isAdmin">
      {{"Send Push" | translate }}
    </ion-button>
  </div>

  <!-- FeedbackPage -->
  <div class="margin-top-10 padding-10 secondary border-radius-20px text-align-center" *ngIf="viewpoint == 'FeedbackPage'">
    <ion-textarea class="feedback background-white" rows="10" cols="14" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="feedback" placeholder="{{'Input feedback'| translate}}"></ion-textarea>
    <ion-button class="darkbutton width-auto margin-top-10" (click)="sendFeedback(feedback)">{{"Send feedback" | translate}}</ion-button>
  </div>

  <!-- ShowFeedbackPage -->
  <div class="margin-top-10 padding-10 secondary border-radius-20px text-align-center" *ngIf="viewpoint == 'ShowFeedbackPage'">
    <ion-item class="margin-bottom-10" *ngFor="let feedback of feedbackArray">{{feedback.feedback}}</ion-item>
  </div>

  <!-- SendPushPage -->
  <div class="margin-top-10 padding-10 secondary border-radius-20px text-align-center" *ngIf="viewpoint == 'SendPushPage'">
    <ion-textarea class="feedback background-white" rows="10" cols="14" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="manualPushEN" placeholder="{{'Input EN push'| translate}}"></ion-textarea>
    <br>
    <ion-textarea class="feedback background-white" rows="10" cols="14" type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="manualPushDE" placeholder="{{'Input DE push'| translate}}"></ion-textarea>
    <ion-button class="darkbutton width-auto margin-top-10" (click)="sendPush(manualPushEN, manualPushDE)">{{"Send push" | translate}}</ion-button>
  </div>

	<!-- CapturePage -->
  <div *ngIf="viewpoint == 'CapturePage' && !isApp">
    <ion-row class="width-40 margin-auto margin-top-10 height-20">
      <ion-card class="margin-top-10 width-100 text-align-center height-40 overflow-scroll no-scrollbar margin-right-10 display-inline-block secondary border-radius-20px min-height-150px">
        <ion-item class="height-50 border-radius-20px">
          <ion-input type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="newCapture.content" placeholder="{{'Input new capture'| translate}}"></ion-input>
        </ion-item>
        <ion-button class="darkbutton width-auto" (click)="addCapture(newCapture)">{{"Add" | translate}}</ion-button>
      </ion-card>
    </ion-row>
    <div *ngIf="takenActionListNotEmpty || captureListNotEmpty" class="secondary border-radius-20px width-90 margin-top-10 padding-bottom-10">
      <div *ngIf="takenActionListNotEmpty">
        <h3 class="padding-left-20">{{"Taken actions ready for processing" | translate}}:</h3>
        <button class="background-white width-100 text-align-left border-bottom-1 padding-left-20 padding-top-10" *ngFor="let takenAction of takenActionArray" (click)="goToProcessTakenActionPage(takenAction)">{{"You started with action" |translate}} "{{takenAction.content}}" {{", click here to process" | translate }}
        </button>
      </div>
      <div *ngIf="captureListNotEmpty">
        <h3 class="padding-left-20">{{"Thoughts captured and ready for processing" | translate}}:</h3>
        <ion-grid>
          <ion-row class="background-white border-bottom-1 width-100 min-height-30px" *ngFor="let capture of captureArray">
            <ion-col size="10" class="height-100">
              <button class="background-white text-align-left" (click)="goToProcessCapturePage(capture)">{{capture.content}}
              </button>
            </ion-col>
            <ion-col size="2" class="height-100">
              <button class="background-white" float-right (click)="deleteCapture(capture)">{{ "Delete" | translate }}</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <!-- Mobile CapturePage -->
  <div *ngIf="viewpoint == 'CapturePage' && isApp">
      <ion-card class="width-100 margin-0 text-align-center overflow-scroll no-scrollbar display-inline-block transparent min-height-150px">
        <ion-row class="width-90 margin-top-45 margin-left-auto margin-right-auto">
          <ion-col size="9.6" class="no-padding">
          <ion-input class="border-left-white-2px transparent display-inline-block margin-0 width-90 font-size-1-5rem placeholder-white" type="text" (ionFocus)="ionFocus($event)" (ionBlur)="ionBlurCapture($event)" autocapitalize="on" [(ngModel)]="newCapture.content" placeholder="{{'Input new capture'| translate}}"></ion-input>
          </ion-col>
          <ion-col size="1.2" class="flex text-align-center no-padding">
            <button class="transparent no-padding" (click)="addCapturePicture()">
              <img src="../../assets/icon/icon_camera.png" height="15">
            </button>
          </ion-col>
          <ion-col size="1.2" class="flex text-align-center no-padding">
            <button class="transparent no-padding margin-auto" (click)="addCaptureVoice()">
              <img src="../../assets/icon/icon_microphone.png" height="20" class="margin-bottom-3">
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="width-50 margin-top-85 margin-right-auto margin-left-auto">
          <ion-col size="6" class="flex text-align-center">
            <button class="transparent no-padding margin-auto" (click)="cancelCapture()">
              <img src="../../assets/icon/icon_cancel.png" height="20" class="margin-bottom-3">
            </button>
          </ion-col>
          <ion-col size="6" class="flex text-align-center">
            <button class="transparent no-padding margin-auto" (click)="addCapture(newCapture)">
              <img src="../../assets/icon/icon_confirm.png" height="30" class="margin-bottom-3">
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="width-100 height-70px absolute-bottom margin-0 no-padding background-navigation-left">
        <ion-row class="width-100 height-100">
          <ion-col class="no-padding">
            <ion-button fill="clear" class="transparent no-padding margin-auto width-100 height-100" (click)="goToCapturePage()">
            </ion-button>
          </ion-col>
          <ion-col class="no-padding">
            <ion-button fill="clear" class="transparent no-padding margin-auto width-100 height-100" (click)="goToProcessPage()">
            </ion-button>
          </ion-col>
          <ion-col class="no-padding">
            <ion-button fill="clear" class="transparent no-padding margin-auto width-100 height-100" (click)="goToToDoPage()">
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    <!--
    <div *ngIf="takenActionListNotEmpty || captureListNotEmpty" class="secondary border-radius-20px width-90 margin-top-10 padding-bottom-10">
      <div *ngIf="takenActionListNotEmpty">
        <h3 class="padding-left-20">{{"Taken actions ready for processing" | translate}}:</h3>
        <button class="background-white width-100 text-align-left border-bottom-1 padding-left-20 padding-top-10" *ngFor="let takenAction of takenActionArray" (click)="goToProcessTakenActionPage(takenAction)">{{"You started with action" |translate}} "{{takenAction.content}}" {{", click here to process" | translate }}
        </button>
      </div>
    </div>
    -->
  </div>

  <!-- ProcessPage -->
  <div *ngIf="viewpoint == 'ProcessPage' && !isApp">
    <div *ngIf="captureListNotEmpty">
      <h3 class="padding-left-20">{{"Thoughts captured and ready for processing" | translate}}:</h3>
      <ion-grid>
        <ion-row class="background-white border-bottom-1 width-100 min-height-30px" *ngFor="let capture of captureArray">
          <ion-col size="10" class="height-100">
            <button class="background-white text-align-left" (click)="goToProcessCapturePage(capture)">{{capture.content}}
            </button>
          </ion-col>
          <ion-col size="2" class="height-100">
            <button class="background-white" float-right (click)="deleteCapture(capture)">{{ "Delete" | translate }}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- Mobile ProcessPage -->
  <div *ngIf="viewpoint == 'ProcessPage' && isApp" class="no-scrollbar">
    <ion-grid>
      <ion-row class="one-line padding-20 transparent width-100 height-30px" *ngFor="let capture of captureArray">
          <button class="overflow-x-hidden transparent text-color-white text-align-left width-100" (click)="goToProcessCapturePage(capture)">
            <img src="../../assets/imgs/circle_white.png" height="7" class=" margin-auto">
            <span class="margin-left-10 font-size-1rem">
              {{capture.content}}
            </span>
          </button>
      </ion-row>
    </ion-grid>
    <ion-card class="width-100 height-70px margin-0 no-padding background-navigation-center">
      <ion-row class="width-100 height-100">
        <ion-col class="no-padding">
          <ion-button fill="clear" class="transparent no-padding margin-auto width-100 height-100" (click)="goToCapturePage()">
          </ion-button>
        </ion-col>
        <ion-col class="no-padding">
          <ion-button fill="clear" class="transparent no-padding margin-auto width-100 height-100" (click)="goToProcessPage()">
          </ion-button>
        </ion-col>
        <ion-col class="no-padding">
          <ion-button fill="clear" class="transparent no-padding margin-auto width-100 height-100" (click)="goToToDoPage()">
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <!-- ProcessCapturePage -->
  <div *ngIf="viewpoint=='ProcessCapturePage' && !isApp">
    <div *ngIf="pageCtrl == ''">
      <ion-grid>
        <ion-row class="width-100">
          <ion-col size="3">
            <ion-card class="width-100 margin-top-0 secondary border-radius-20px text-align-center overflow-y-scroll no-scrollbar">
              <div class="height-100 width-100 max-height-500px margin-vertical-center-parent overflow-y-scroll no-scrollbar">
              <p class="width-100 margin-10px overflow-y-scroll no-scrollbar text-align-center">{{capture.content}}</p>
            </div>
            <ion-button class="darkbutton display-block" (click)="deleteCapture(capture)">{{ "Delete" | translate }}</ion-button>
            </ion-card>
            <ion-card class="text-align-center margin-top-10 overflow-scroll no-scrollbar width-100 margin-left-0 display-inline-block secondary border-radius-20px">
              <ion-item class="border-radius-20px">
                <ion-input type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="goalname" placeholder="{{'Project name' | translate}}"></ion-input>
              </ion-item>
              <ion-button class="darkbutton margin-auto margin-bottom-10 margin-top-10" (click)="addGoal(goalname)">{{"Create" | translate }}</ion-button>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="width-400px overflow-x-hidden text-align-center margin-top-0 height-20 overflow-scroll no-scrollbar margin-right-10 display-inline-block secondary border-radius-20px min-height-100px" no-lines *ngFor="let goal of goalArray">
              <ion-grid>
                <ion-row>
                    <h1 class="max-height-30px margin-0 overflow-x-hidden width-90 display-inline-block">{{goal.name}}</h1>
                    <ion-card class="margin-top-0 margin-right-0 project-color" [ngStyle]="{'background-color': goal.color}"></ion-card>
                </ion-row>
                <ion-row >
                  <ion-button class="darkbutton button-left" (click)="addAction(goal, capture)">{{"Action" | translate }}</ion-button>
                  <ion-button class="darkbutton button-left" (click)="addDelegation(goal, capture)">{{"Delegation" | translate }}</ion-button>
                  <ion-button class="darkbutton button-left" (click)="addReference(goal, capture)">{{"Reference" | translate }}</ion-button>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- Mobile ProcessCapturePage -->
  <div *ngIf="viewpoint=='ProcessCapturePage' && isApp">
    <ion-grid class="padding-20">
      <ion-card class="text-align-center margin-5 text-color-white transparent width-100 height-30px">{{capture.content}}
      </ion-card>
      <ion-row *ngIf="pageCtrl == ''">
        <ion-col size="1">
          <img src="../../assets/imgs/circle_white.png" height="8" class=" margin-auto">
        </ion-col>
        <ion-col size="11">
          <button class="transparent text-color-white text-align-left width-100" (click)="assignProject()">
            <span class="font-size-1rem">
              {{"Project" | translate }}
            </span>
            <div *ngIf="captureProject" class="width-100 margin-left-50 overflow-x-hidden margin-top-10 font-size-1rem">
              {{captureProject.name}}
            </div>
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pageCtrl != '' && captureProject">
        <ion-col size="1">
        <img src="../../assets/icon/icon_confirm.png" height="15" class="margin-auto">
        </ion-col>
        <ion-col size="11">
          <button class="transparent font-gray text-align-left width-100" (click)="changePageCtrl('')">
            <span class="font-size-1rem">
              {{"Project" | translate }}
            </span>
            <div class="width-100 margin-left-50 overflow-x-hidden margin-top-10 font-size-1rem">
              {{captureProject.name}}
            </div>
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pageCtrl == 'type'">
        <ion-col size="1">
        <img src="../../assets/imgs/circle_white.png" height="8" class="margin-auto">
        </ion-col>
        <ion-col size="11">
          <span class="margin-left-10 font-size-1rem font-white">
            {{"Type" | translate }}
          </span>
          <div class="width-100 margin-top-10 font-size-1rem">
            <ion-row class="width-100">
              <ion-col>
                <button *ngIf="captureType == 'action'" class="display-inline-block transparent font-white text-align-center width-100" (click)="assignAction()">{{"Action" | translate}}
                </button>
                <button *ngIf="captureType != 'action'" class="display-inline-block transparent font-gray text-align-center width-100" (click)="assignAction()">{{"Action" | translate}}
                </button>
              </ion-col>
              <ion-col>
                <button *ngIf="captureType == 'note'" class="display-inline-block transparent font-white text-align-left width-100" (click)="assignNote()">{{"Note" | translate}}
                </button>
                <button *ngIf="captureType != 'note'" class="display-inline-block transparent font-gray text-align-left width-100" (click)="assignNote()">{{"Note" | translate}}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pageCtrl != 'type' && captureType">
        <ion-col size="1">
        <img src="../../assets/icon/icon_confirm.png" height="15" class="margin-auto">
        </ion-col>
        <ion-col size="11">
          <button class="transparent font-gray text-align-left width-100" (click)="changePageCtrl('type')">
            <span class="margin-left-10 font-size-1rem font-gray">
              {{"Type" | translate }}
            </span>
          </button>
          <div class="width-100 margin-top-10 font-size-1rem">
            <ion-row class="width-100">
              <ion-col>
                <button *ngIf="captureType == 'action'" class="display-inline-block transparent font-white text-align-center width-100" (click)="assignAction()">{{"Action" | translate}}
                </button>
                <button *ngIf="captureType != 'action'" class="display-inline-block transparent font-gray text-align-center width-100" (click)="assignAction()">{{"Action" | translate}}
                </button>
              </ion-col>
              <ion-col>
                <button *ngIf="captureType == 'note'" class="display-inline-block transparent font-white text-align-left width-100" (click)="assignNote()">{{"Note" | translate}}
                </button>
                <button *ngIf="captureType != 'note'" class="display-inline-block transparent font-gray text-align-left width-100" (click)="assignNote()">{{"Note" | translate}}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pageCtrl == 'time'">
        <ion-col size="1">
        <img src="../../assets/imgs/circle_white.png" height="8" class="margin-auto">
        </ion-col>
        <ion-col size="11">
          <span class="margin-left-10 font-size-1rem font-white">
            {{"Time" | translate }}
          </span>
          <div class="width-100 margin-top-10 font-size-1rem">
            <ion-row class="width-100">
              <!-- the 'h' in displayFormat is not a normal h because it would translate it to the hour format, therefore it's a greek letter that looks exactly like an 'h' -->
              <ion-datetime class="font-white" displayFormat="Hհ mm" pickerFormat="HH:mm" max="2100" [(ngModel)]="captureTimeISOString" [doneText]="translate.instant('Done')" [cancelText]="translate.instant('Cancel')" (ionBlur)="timeSet()"></ion-datetime>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="pageCtrl != 'time' && captureTime">
        <ion-col size="1">
        <img src="../../assets/icon/icon_confirm.png" height="15" class="margin-auto">
        </ion-col>
        <ion-col size="11">
          <button class="transparent font-gray text-align-left width-100" (click)="changePageCtrl('time')">
            <span class="margin-left-10 font-size-1rem font-gray">
              {{"Time" | translate }}
            </span>
          </button>
          <div class="width-100 margin-top-10 font-size-1rem">
            <ion-row class="width-100">
              <!-- the 'h' in displayFormat is not a normal h because it would translate it to the hour format, therefore it's a greek letter that looks exactly like an 'h' -->
              <ion-datetime class="font-gray" displayFormat="Hհ mm" pickerFormat="HH:mm" max="2100" [(ngModel)]="captureTimeISOString" [doneText]="translate.instant('Done')" [cancelText]="translate.instant('Cancel')" (ionBlur)="timeSet()"></ion-datetime>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- ProcessTakenActionPage -->
  <div *ngIf="viewpoint=='ProcessTakenActionPage'" class="secondary width-90 border-radius-20px padding-10 margin-top-10">
    <div *ngIf="pageCtrl == ''">
      {{"Please indicate whether you finished the action or want to abort it." | translate }}<br>
      <div class="buttons-flex-container">
        <ion-button class="darkbutton button-left" (click)="actionFinished()">{{"Finished" | translate }}</ion-button>
        <ion-button class="darkbutton button-right" (click)="abortAction()">{{"Abort" | translate }}</ion-button>
      </div>
    </div>

    <div *ngIf="pageCtrl == 'actionAborted'">
      {{"You aborted this action, it has been put back into your actions list." | translate }}
    </div>

    <div *ngIf="pageCtrl == 'actionFinished'">
      {{"Congrats! Is your project now accomplished and can be deleted?" | translate }}
      <div class="buttons-flex-container">
        <ion-button class="darkbutton button-left" (click)="goalFinished()">{{"Accomplished" | translate }}</ion-button>
        <ion-button class="darkbutton button-right" (click)="goalNotFinished()">{{"Not yet" | translate }}</ion-button>
      </div>
    </div>
  </div>

  <!-- ToDoPage -->
    <div class="height-100" *ngIf="viewpoint == 'ToDoPage'">
      <div class="height-100" *ngIf="pageCtrl == ''">
        <ion-grid class="height-100">
          <ion-row *ngIf="!isApp">
            <ion-col size="4" class="primary flex">
              <form class="flex width-100" (ngSubmit)="showDoableActions()" [formGroup]="giveTimeForm">
                <ion-label class="width-50 margin-auto min-width-175px primary display-inline-block">{{"Time available in minutes" | translate }}:</ion-label>
                <ion-input #TimeAvailable class="width-50" type="number" min="0" formControlName="timeEstimate" (ionChange)="showDoableActions()" autofocus="true"></ion-input>
              </form>
            </ion-col>
            <ion-col size="8">
              <ion-item class="border-radius-20px">
              <ion-select multiple [(ngModel)]="goalKeyArray" (ionChange)="chooseGoal($event)" placeholder="{{'All Projects' | translate}}">
                <ion-label>{{"Project" | translate }}</ion-label>
                <ion-select-option *ngFor="let goal of goalArray" value="{{goal.key}}">{{goal.name}}</ion-select-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isApp">
            <ion-col class="primary flex">
              <form class="flex width-100" (ngSubmit)="showDoableActions()" [formGroup]="giveTimeForm">
                <ion-label class="width-50 margin-auto min-width-175px primary display-inline-block">{{"Time available in minutes" | translate }}:</ion-label>
                <ion-input #TimeAvailable class="width-50" type="number" min="0" formControlName="timeEstimate" (ionChange)="showDoableActions()" autofocus="true"></ion-input>
              </form>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isApp">
            <ion-col>
              <ion-item class="border-radius-20px">
              <ion-select multiple [(ngModel)]="goalKeyArray" (ionChange)="chooseGoal($event)">
                <ion-label>{{"Project" | translate }}</ion-label>
                <ion-select-option selected value="None">{{"All Projects" | translate }}</ion-select-option>
                <ion-select-option *ngFor="let goal of goalArray" value="{{goal.key}}">{{goal.name}}</ion-select-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <div class="content-container min-height-150px">
              <ion-grid *ngIf="!isApp">
                <ion-row>
                  <ion-col size="8">{{"Action" | translate}}</ion-col>
                  <ion-col size="1" class="text-align-center">{{"Project" | translate}}</ion-col>
                  <ion-col size="1" class="text-align-center">{{"Priority" | translate}}</ion-col>
                  <ion-col size="1" class="text-align-center">{{"Time" | translate}}</ion-col>
                  <ion-col size="1" class="text-align-center">{{"Deadline" | translate}}</ion-col>
                </ion-row>
                <ion-row class="background-white margin-bottom-1 border-radius-5px" *ngFor="let action of doableActionArray" (click)="takeThisAction(action)">
                  <ion-col size="8">
                    <ion-card class="margin-0 project-color display-inline-block" [ngStyle]="{'background-color': goalDict[action.goalid].color}"></ion-card>
                  {{action.content}}
                  </ion-col>
                  <ion-col size="1" class="text-align-center">{{goalDict[action.goalid].name}}</ion-col>
                  <ion-col size="1" class="text-align-center">{{action.priority}}</ion-col>
                  <ion-col size="1" class="text-align-center">{{action.time}}</ion-col>
                  <ion-col size="1" class="text-align-center">{{action.deadline}}</ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid *ngIf="isApp">
                <ion-row>
                  <ion-col size="8">{{"Action" | translate}}</ion-col>
                  <ion-col size="4" class="text-align-center">{{"Time" | translate}}</ion-col>
                </ion-row>
                <ion-row class="background-white margin-bottom-1 border-radius-5px" *ngFor="let action of doableActionArray" (click)="takeThisAction(action)">
                  <ion-col size="8">
                    <ion-card class="margin-0 project-color display-inline-block" [ngStyle]="{'background-color': goalDict[action.goalid].color}"></ion-card>
                    {{action.content}}
                  </ion-col>
                  <ion-col size="4" class="text-align-center">{{action.time}}</ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  <!-- ProjectsPage -->
  <div class="height-100" *ngIf="viewpoint == 'ProjectsPage'">
    <div *ngIf="!isApp" class="height-100">
      <div *ngIf="pageCtrl == ''">
        <ion-card class="width-18 height-150px overflow-y-hidden overflow-x-hidden text-align-center margin-10 display-inline-block secondary border-radius-20px">
          <ion-item class="border-radius-20px">
            <ion-input type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="goalname" placeholder="{{'Project name' | translate}}"></ion-input>
          </ion-item>

          <ion-button class="darkbutton margin-auto margin-bottom-10 margin-top-10" (click)="addGoal(goalname)">{{"Create" | translate }}</ion-button>
        </ion-card>
        <ion-card class="width-18 height-150px overflow-y-hidden overflow-x-hidden text-align-center margin-10 display-inline-block secondary border-radius-20px" no-lines *ngFor="let goal of goalArray" (click)="reviewGoal(goal)">
          <ion-grid>
            <ion-row class="max-height-30px margin-bottom-10">
                <h1 class="max-height-30px margin-0 overflow-x-hidden width-90 display-inline-block">{{goal.name}}</h1>
                <ion-card class="margin-0 project-color" [ngStyle]="{'background-color': goal.color}"></ion-card>
            </ion-row>
            <ion-row class="overflow-scroll no-scrollbar height-100px">
              <p class="one-line border-top width-100" *ngFor="let action of actions[goal.key]">{{action.content}}</p>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>


      <div class="height-90" *ngIf="pageCtrl == 'ProjectOverview'">
        <ion-grid class="height-100">
          <ion-row class="height-100">
            <ion-col size="9" class="no-padding height-100">
              <ion-grid class="height-100 no-padding">
                <ion-row class="height-50 overflow-scroll no-scrollbar">
                  <ion-col size="4" class="height-100">
                    <ion-card class="overflow-scroll no-scrollbar height-45 margin-top-10 margin-bottom-10 width-100 secondary border-radius-20px">
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            <h1 class="margin-0">{{goal.name}}</h1>
                          </ion-col>
                          <ion-col>
                            <ion-card class="margin-top-0 margin-right-0 project-color" [ngStyle]="{'background-color': goal.color}"></ion-card>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-button class="darkbutton display-inline-block" (click)="deleteGoal(goal)">
                              {{"Delete" | translate}}
                            </ion-button>
                            <ion-button class="darkbutton display-inline-block" (click)="editGoal(goal)">
                              {{"Edit" | translate}}
                            </ion-button>
                        </ion-row>
                      </ion-grid>
                    </ion-card>
                    <ion-card class="width-100 padding-10 height-50 secondary border-radius-20px margin-top-0">
                      <h1 class="margin-0">{{"Team" | translate }}</h1>
                    </ion-card>
                  </ion-col>
                  <ion-col size="8" class="height-100 overflow-scroll no-scrollbar">
                    <div class="width-100 margin-top-10 height-100 secondary padding-10 border-radius-20px">
                      <ion-row class="width-100 height-45px">
                        <ion-col class="height-100 text-align-center">
                          <button class="background-transparent" icon-only (click)="changeWeek(-1)" *ngIf="!isApp">
                            <ion-icon class="size-20px" name="arrow-back"></ion-icon>
                          </button>
                          <button class="background-transparent" (click)="changeDate()">
                            <h2 class="display-inline-block margin-0" *ngIf="!isApp">{{ viewTitle }}</h2>
                          </button>
                          <button class="background-transparent" icon-only (click)="changeWeek(1)" *ngIf="!isApp">
                            <ion-icon class="size-20px" name="arrow-forward"></ion-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                      <ion-row class="width-100 height-80">
                        <ng-template #template let-displayEvent="displayEvent">
                          <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
                        </ng-template>
                        <ng-template #template let-displayEvent="displayEvent">
                          <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
                        </ng-template>
                        <ng-template #template let-displayEvent="displayEvent" >
                          <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
                        </ng-template>
                        <ng-template #template let-displayEvent="displayEvent" >
                          <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
                        </ng-template>
                        <calendar [eventSource]="eventSource"
                                  [calendarMode]="calendar.mode"
                                  [currentDate]="calendar.currentDate"
                                  (onEventSelected)="onEventSelected($event)"
                                  (onTitleChanged)="onViewTitleChanged($event)"
                                  (onTimeSelected)="onTimeSelected($event)"
                                  step="5"
                                  class="calendar height-100"
                                  autoSelect="false"
                                  [weekviewNormalEventTemplate]="template"
                                  [weekviewAllDayEventTemplate]="template"
                                  [dayviewNormalEventTemplate]="template"
                                  [dayviewAllDayEventTemplate]="template"
                                  scrollToHour="8"
                                  [locale]="translate.currentLang"
                                  formatHourColumn="{{'formatHourColumn' | translate }}"
                                  formatWeekTitle="{{'formatWeekTitle' | translate }}"
                                  formatDayTitle="{{'formatDayTitle' | translate }}"
                                  startingDayWeek="1"
                                  allDayLabel="{{'Deadlines' | translate }}">
                        </calendar>
                      </ion-row>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="height-50 margin-5">
                  <ion-card class="margin-top-10 width-100 height-100 secondary border-radius-20px">
                    <ion-grid class="height-100">
                      <ion-row class="height-100">
                        <ion-col class="border-right height-100 overflow-scroll no-scrollbar">
                          <ion-buttons class="height-13" start>
                            <h1 class="display-inline-block margin-right-10">{{"Actions" | translate }}</h1>
                            <ion-button class="darkbutton" icon-only (click)="addAction(goal, '')">
                              <ion-icon name="add"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                          <ion-card class="height-80 overflow-scroll no-scrollbar">
                            <button class="block width-100 no-padding" *ngFor="let nextAction of actionArray" (click)="reviewAction(nextAction)">
                              <p class="border-top">{{nextAction.content}}</p>
                            </button>
                          </ion-card>
                        </ion-col>
                        <ion-col class="border-right height-100 overflow-scroll no-scrollbar">
                          <ion-buttons class="height-13" start>
                            <h1 class="display-inline-block margin-right-10">{{"Delegations" | translate }}</h1>
                            <ion-button class="darkbutton" icon-only (click)="addDelegation(goal,'')">
                              <ion-icon name="add"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                          <ion-card class="height-80 overflow-scroll no-scrollbar">
                            <button class="block width-100 no-padding" *ngFor="let delegation of delegationArray" (click)="reviewDelegation(delegation)">
                              <p class="border-top">{{delegation.content}}</p>
                            </button>
                          </ion-card>
                        </ion-col>
                        <ion-col class="height-100 overflow-scroll no-scrollbar">
                          <ion-buttons class="height-13" start>
                            <h1 class="display-inline-block margin-right-10">{{"References" | translate }}</h1>
                            <ion-button class="darkbutton" icon-only (click)="addReference(goal,'')">
                              <ion-icon name="add"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                          <ion-card class="height-80 overflow-scroll no-scrollbar">
                            <button class="block width-100 no-padding" *ngFor="let reference of referenceArray" (click)="reviewReference(reference)">
                              <p class="border-top">{{reference.content}}</p>
                            </button>
                          </ion-card>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="3">
              <ion-card class="width-100 height-100 padding-10 secondary border-radius-20px margin-top-10">
                <h1 class="margin-0">{{"Chat" | translate }}</h1>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <!-- mobile -->
    <div *ngIf="isApp" class="height-100">
      <div *ngIf="pageCtrl == ''">
        <ion-card class="width-90 height-150px overflow-y-hidden overflow-x-hidden text-align-center margin-auto secondary border-radius-20px">
          <ion-item class="border-radius-20px">
            <ion-input type="text" (ionFocus)="ionFocus($event)" autocapitalize="on" [(ngModel)]="goalname" placeholder="{{'Project name' | translate}}"></ion-input>
          </ion-item>

          <ion-button class="darkbutton margin-auto margin-bottom-10 margin-top-10" (click)="addGoal(goalname)">{{"Create" | translate }}</ion-button>
        </ion-card>
        <ion-card class="width-90 margin-top-10 height-150px overflow-y-hidden overflow-x-hidden text-align-center margin-auto secondary border-radius-20px" no-lines *ngFor="let goal of goalArray" (click)="reviewGoal(goal)">
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                <h1 class="max-height-30px overflow-x-hidden width-90">{{goal.name}}</h1>
              </ion-col>
              <ion-col>
                <ion-card class="margin-top-0 margin-right-0 project-color" [ngStyle]="{'background-color': goal.color}"></ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <p class="one-line border-top width-100 overflow-x-hidden" *ngFor="let action of actions[goal.key]">{{action.content}}</p>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>


      <div class="height-100" *ngIf="pageCtrl == 'ProjectOverview'">
        <ion-card class="margin-0 padding-10 margin-bottom-10 width-100 secondary border-radius-20px">
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                <h1>{{goal.name}}</h1>
                <ion-button class="darkbutton" (click)="deleteGoal(goal)">
                  {{"Delete" | translate}}
                </ion-button>
                <ion-button class="darkbutton" (click)="editGoal(goal)">
                  {{"Edit" | translate}}
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-card class="margin-top-0 margin-right-0 project-color" [ngStyle]="{'background-color': goal.color}"></ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card class="margin-0 padding-10 margin-bottom-10 width-100 secondary border-radius-20px">
          <ion-buttons start>
            <h1 class="display-inline-block margin-right-10">{{"Actions" | translate }}</h1>
            <ion-button class="darkbutton"  icon-only (click)="addAction(goal,'')">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
          <button class="block width-100 no-padding" *ngFor="let nextAction of actionArray" (click)="reviewAction(nextAction)">
            <p class="border-top">{{nextAction.content}}</p>
          </button>
        </ion-card>
        <ion-card class="margin-0 padding-10 margin-bottom-10 width-100 secondary border-radius-20px">
          <ion-buttons start>
            <h1 class="display-inline-block margin-right-10">{{"Delegations" | translate }}</h1>
            <ion-button class="darkbutton"  icon-only (click)="addDelegation(goal,'')">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
          <button class="block width-100 no-padding" *ngFor="let delegation of delegationArray" (click)="reviewDelegation(delegation)">
            <p class="border-top">{{delegation.content}}</p>
          </button>
        </ion-card>
        <ion-card class="margin-0 padding-10 margin-bottom-10 width-100 secondary border-radius-20px">
          <ion-buttons start>
            <h1 class="display-inline-block margin-right-10">{{"References" | translate }}</h1>
            <ion-button class="darkbutton"  icon-only (click)="addReference(goal,'')">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
          <button class="block width-100 no-padding" *ngFor="let reference of referenceArray" (click)="reviewReference(reference)">
            <p class="border-top">{{reference.content}}</p>
          </button>
        </ion-card>
        <ion-card class="margin-0 height-100 padding-10 margin-bottom-10 width-100 secondary border-radius-20px">
          <ion-row class="width-100 height-45px">
            <ion-col class="height-100 text-align-center">
              <button class="background-transparent" icon-only (click)="changeDay(-1)" *ngIf="isApp">
                <ion-icon class="size-20px" name="arrow-back"></ion-icon>
              </button>
              <button class="background-transparent" (click)="changeDate()">
                <h3 class="display-inline-block margin-0" *ngIf="isApp">{{ viewTitle }}</h3>
              </button>
              <button class="background-transparent" icon-only (click)="changeDay(1)" *ngIf="isApp">
                <ion-icon class="size-20px" name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row class="width-100 height-80">
            <ng-template #template let-displayEvent="displayEvent">
              <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
            </ng-template>
            <ng-template #template let-displayEvent="displayEvent">
              <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
            </ng-template>
            <ng-template #template let-displayEvent="displayEvent" >
              <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
            </ng-template>
            <ng-template #template let-displayEvent="displayEvent" >
              <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
            </ng-template>
            <calendar [eventSource]="eventSource"
                      [calendarMode]="calendar.mode"
                      [currentDate]="calendar.currentDate"
                      (onEventSelected)="onEventSelected($event)"
                      (onTitleChanged)="onViewTitleChanged($event)"
                      (onTimeSelected)="onTimeSelected($event)"
                      step="5"
                      class="calendar height-100"
                      autoSelect="false"
                      [weekviewNormalEventTemplate]="template"
                      [weekviewAllDayEventTemplate]="template"
                      [dayviewNormalEventTemplate]="template"
                      [dayviewAllDayEventTemplate]="template"
                      scrollToHour="8"
                      [locale]="translate.currentLang"
                      formatHourColumn="{{'formatHourColumn' | translate }}"
                      formatWeekTitle="{{'formatWeekTitle' | translate }}"
                      formatDayTitle="{{'formatDayTitle' | translate }}"
                      startingDayWeek="1"
                      allDayLabel="{{'Deadlines' | translate }}">
            </calendar>
          </ion-row>
        </ion-card>
        <ion-card class="margin-0 padding-10 margin-bottom-10 width-100 secondary border-radius-20px">
          <h1>{{"Team" | translate }}</h1>
        </ion-card>
        <ion-card class="margin-0 padding-10 margin-bottom-10 width-100 secondary border-radius-20px">
          <h1>{{"Chat" | translate }}</h1>
        </ion-card>
      </div>
    </div>
  </div>

  <!-- CalendarPage -->
    <div class="height-90 width-90 margin-top-10 secondary border-radius-20px" *ngIf="viewpoint == 'CalendarPage'">
      <ion-row class="width-100 height-45px" *ngIf="!isApp">
        <ion-col size="1">
          <ion-buttons start>
            <ion-button class="darkbutton" icon-only (click)="addEvent()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col class="text-align-center">
          <button class="background-transparent" icon-only (click)="changeWeek(-1)">
            <ion-icon class="size-20px" name="arrow-back"></ion-icon>
          </button>
          <button class="background-transparent" (click)="changeDate()">
            <h2 class="display-inline-block margin-0" *ngIf="!isApp">{{ viewTitle }}</h2>
          </button>
          <button class="background-transparent" icon-only (click)="changeWeek(1)">
            <ion-icon class="size-20px" name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="width-100 height-45px" *ngIf="isApp">
        <ion-buttons start>
          <ion-button class="darkbutton" icon-only (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-row>
      <ion-row class="width-100 height-45px" *ngIf="isApp">
        <button class="background-transparent" icon-only (click)="changeDay(-1)">
          <ion-icon class="size-20px" name="arrow-back"></ion-icon>
        </button>
        <button class="background-transparent" (click)="changeDate()">
          <h3 class="display-inline-block margin-0">{{ viewTitle }}</h3>
        </button>
        <button class="background-transparent" icon-only (click)="changeDay(1)">
          <ion-icon class="size-20px" name="arrow-forward"></ion-icon>
        </button>
      </ion-row>
      <ion-row class="width-100 height-85">
        <div class="width-100 padding-10 height-90">
          <ng-template #template let-displayEvent="displayEvent">
            <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
          </ng-template>
          <ng-template #template let-displayEvent="displayEvent">
            <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
          </ng-template>
          <ng-template #template let-displayEvent="displayEvent">
            <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
          </ng-template>
          <ng-template #template let-displayEvent="displayEvent">
            <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.color}">{{displayEvent.event.title}}</div>
          </ng-template>
          <calendar [eventSource]="eventSource"
                    [calendarMode]="calendar.mode"
                    [currentDate]="calendar.currentDate"
                    (onEventSelected)="onEventSelected($event)"
                    (onTitleChanged)="onViewTitleChanged($event)"
                    (onTimeSelected)="onTimeSelected($event)"
                    step="5"
                    class="calendar height-100"
                    autoSelect="false"
                    [weekviewNormalEventTemplate]="template"
                    [weekviewAllDayEventTemplate]="template"
                    [dayviewNormalEventTemplate]="template"
                    [dayviewAllDayEventTemplate]="template"
                    scrollToHour="8"
                    [locale]="translate.currentLang"
                    formatHourColumn="{{'formatHourColumn' | translate }}"
                    formatWeekTitle="{{'formatWeekTitle' | translate }}"
                    formatDayTitle="{{'formatDayTitle' | translate }}"
                    startingDayWeek="1"
                    allDayLabel="{{'Deadlines' | translate }}">
          </calendar>
        </div>
      </ion-row>
    </div>


</ion-content>
