<ion-header>
  <ion-toolbar color="secondary">
    <button float-right class="icon-only-button margin-right-20" (click)="cancel()">
      <img src="../../assets/icon/icon_cancel.png" height="20">
    </button>
    <ion-title>{{"Action Details" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background-gray">
  <ion-list inset class="text-align-center transparent">
    <form (ngSubmit)="check()" [formGroup]="defineActionForm">
      <ion-item no-lines class="transparent no-scrollbar">
        <ion-textarea class="font-white" autoGrow="true" [(ngModel)]="action.content" formControlName="content"></ion-textarea>
      </ion-item>
      <ion-item class="transparent font-white">
        <ion-label>{{"Priority (1: low, 10: high)" | translate }}:</ion-label>
        <ion-input class="width-30px" type="number" [(ngModel)]="action.priority" min="0" max="10" formControlName="priority"></ion-input>
      </ion-item>
      <ion-item class="transparent font-white">
          <ion-label block>{{"Estimated time in min" | translate }}:</ion-label>
          <ion-input type="number" min="0" max="1000" formControlName="time" [(ngModel)]="action.time"></ion-input>
      </ion-item>
      <div *ngIf="action.deadline" class="transparent font-white">
        <div *ngIf="!edit" class="transparent">
          <ion-item no-lines class="transparent font-white">
            {{"Deadline" | translate}}: {{deadlineString}}
            <button class="transparent font-white" (click)="editDeadline()">{{"Edit" | translate }}</button>
          </ion-item>
        </div>
        <div *ngIf="edit" class="transparent font-white">
          <ion-card class="transparent font-white">
            <ion-row>
            {{viewTitle}}
            </ion-row>
            <calendar [eventSource]="eventSource"
                      [currentDate]="currentDate"
                      (onTitleChanged)="onViewTitleChanged($event)"
                      (onTimeSelected)="onTimeSelected($event)"
                      step="5"
                      class="calendar height-100 width-100 font-size-0-8rem"
                      autoSelect="false"
                      scrollToHour="8"
                      startingDayWeek="1"
                      [showEventDetail]="false">
            </calendar> 
          </ion-card>
        </div>
      </div>
      <div *ngIf="!action.deadline" class="transparent font-white">
        <ion-item no-lines class="transparent">
          <button class="transparent font-white" type="button" (click)="editDeadline()">{{"Add deadline" | translate }}</button>
        </ion-item>
        <div *ngIf="edit" class="transparent">
          <ion-card no-lines class="transparent font-white">
            <div class="transparent font-whie">
            {{viewTitle}}
            </div>
            <div class="transparent font-white">
              <calendar [eventSource]="eventSource"
                        [currentDate]="currentDate"
                        (onTitleChanged)="onViewTitleChanged($event)"
                        (onTimeSelected)="onTimeSelected($event)"
                        step="5"
                        class="calendar height-100 width-100 font-size-0-8rem"
                        autoSelect="false"
                        scrollToHour="8"
                        startingDayWeek="1"
                        [showEventDetail]="false">
              </calendar>
            </div>
          </ion-card>
        </div>
      </div>
      <button class="transparent font-white" type="submit">{{"Save" | translate }}</button>
      <button class="button-left transparent font-white" type="button" (click)="deleteAction(action)">{{"Delete" | translate }}</button>
    </form>
  </ion-list>
</ion-content>