<ion-content class="width-100">
  <ion-row>
    <ion-col>
      <button *ngIf="type != 'show'" class="transparent font-tertiary" (click)="cancel()">
        {{"Cancel" | translate}}
      </button>
      <button *ngIf="type == 'show'" class="transparent font-tertiary" (click)="cancel()">
        {{"Close" | translate}}
      </button>
    </ion-col>
    <ion-col *ngIf="type != 'show'" class="text-align-center">
      {{"Add To-Do" | translate}}
    </ion-col>
    <ion-col *ngIf="type == 'show'" class="text-align-center">
      {{"To-Do" | translate}}
    </ion-col>
    <ion-col class="text-align-right">
      <button *ngIf="type != 'show'" class="transparent font-tertiary" (click)="save()" color="tertiary">
        {{"Save" | translate}}
      </button>
      <button *ngIf="type == 'show' && changed" class="transparent font-tertiary" (click)="save()" color="tertiary">
        {{"Save" | translate}}
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <div class="width-80 border-1 border-radius-5px margin-top-10-auto flex">
      <img src="../../assets/icon/icon_todo.svg" height="24" class="margin-left-5-auto">
      <ion-input (ionInput)="change()" [(ngModel)]="todo.content" placeholder="{{'To-Do' | translate}}" type="text" class="display-inline-block width-100-minus-26 margin-left-5 text-align-left"></ion-input>
    </div>
  </ion-row>
  <ion-row>
    <div class="margin-top-10-auto flex">
      <img src="../../assets/icon/icon_clock.svg" height="24" class="margin-left-5-auto">
      <ion-input (ionInput)="change()" size="2" [(ngModel)]="todo.time" placeholder="{{'Duration' | translate}}" type="number" class="no-padding display-inline-block width-100-minus-26 margin-left-5 text-align-left"></ion-input>
      <span *ngIf="todo.time" class="margin-left-5-auto">{{"Minutes" | translate}}</span>
    </div>
  </ion-row>
  <ion-row>
    <div class="margin-top-10-auto flex">
    <img src="../../assets/icon/icon_priority.svg" height="24" class="margin-left-5-auto">
    <span *ngIf="todo.priority" (click)="openPicker('priority')">
      {{todo.priority}}
    </span>
    <span *ngIf="!todo.priority" (click)="openPicker('priority')">{{"Priority" | translate}}</span>
    </div>
  </ion-row>
  <ion-row>
    <div class="margin-top-10-auto flex">
    <img src="../../assets/icon/icon_project.svg" height="24" class="margin-left-5-auto">
    <span *ngIf="todo.goalid && todo.goalid != 'unassigned'" (click)="openPicker('project')">
      {{goalDict[todo.goalid].name}}
    </span>
    <span *ngIf="!(todo.goalid && todo.goalid != 'unassigned')" (click)="openPicker('project')">{{"Project" | translate}}</span>
    </div>
  </ion-row>
  <ion-row *ngIf="type != 'show'" class="margin-bottom-10">
    <div class="margin-top-10-auto flex">
      <img src="../../assets/icon/icon_deadline.svg" height="24" class="margin-left-5-auto">
      <button *ngIf="!todo.deadline" class="font-size-16px transparent no-padding text-align-left display-inline-block" (click)="assignDeadline()">{{"Deadline" | translate}}
      </button>
      <button *ngIf="todo.deadline" class="font-size-16px transparent no-padding text-align-left display-inline-block" (click)="assignDeadline()">{{deadlineText}}
      </button>
    </div>
  </ion-row>
  <ion-row *ngIf="type == 'show'">
    <div class="margin-top-10-auto flex">
      <img src="../../assets/icon/icon_deadline.svg" height="24" class="margin-left-5-auto">
      <button *ngIf="!todo.deadline" class="font-size-16px transparent no-padding text-align-left display-inline-block" (click)="assignDeadline()">{{"Deadline" | translate}}
      </button>
      <button *ngIf="todo.deadline" class="font-size-16px transparent no-padding text-align-left display-inline-block" (click)="assignDeadline()">{{deadlineText}}
      </button>
    </div>
  </ion-row>
  <ion-row *ngIf="type == 'show'"class="margin-bottom-10">
    <div class="margin-top-10-auto flex">
      <button class="font-size-20px transparent font-red border-1px-red border-radius-20px" (click)="deleteToDo()">{{"Delete" | translate}}</button>
    </div>
  </ion-row>
  </ion-content>